In [2]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [480]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\patel\appdata\local\programs\python\python311\lib\site-packages (23.3.1)
Collecting pip
  Downloading pip-23.3.2-py3-none-any.whl.metadata (3.5 kB)
Downloading pip-23.3.2-py3-none-any.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB ? eta -:--:--
   --- ------------------------------------ 0.2/2.1 MB 3.0 MB/s eta 0:00:01
   ----- ---------------------------------- 0.3/2.1 MB 2.5 MB/s eta 0:00:01
   ------- -------------------------------- 0.4/2.1 MB 2.4 MB/s eta 0:00:01
   --------- ------------------------------ 0.5/2.1 MB 2.3 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/2.1 MB 2.3 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 2.4 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 2.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 2.5 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 2.5 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 2.8 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 2.7 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 2.8 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 2.9 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.9 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.3.1
    Uninstalling pip-23.3.1:
      Successfully uninstalled pip-23.3.1
Successfully installed pip-23.3.2

## Keywords
Keywords are the reserved words in Python and can't be used as an identifier

In [3]:
print(keyword.kwlist)   # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid decimal literal (2087397812.py, line 1)

In [6]:
var12@ = 35 #Identifier can't use special symbols

SyntaxError: invalid syntax (4171662607.py, line 1)

In [7]:
import = 125 # keywords can't be used as identifiers

SyntaxError: invalid syntax (3943580876.py, line 1)

In [8]:
# correct way to define identifiers
var = 10
var2 = 10
var_2 = 10
_var = 10

## Comments
Comments can be used to explain the code for more readabilty

In [9]:
# single line comment
var = 10

In [10]:
# Multi
# line
# comment
var = 10

In [11]:
'''Multi
line
comment'''

# or

'''multiline comment'''

'multiline comment'

In [12]:
"""multi
line comment"""

# or

"""multi line comment"""

'multi line comment'

## Statements

Instructions that python interpreter can execute

In [14]:
# single line statement
x = 10 + 20
x

30

In [15]:
# single line statement
y = ['a','b','c','d']
y

['a', 'b', 'c', 'd']

In [16]:
# multiline statement
x = 10 + 20 \
    + 30 + 40 \
        + 50
x

150

In [17]:
# multiline statement
y = ['a',
    'b',
    'c',
    'd'
    ]
y

['a', 'b', 'c', 'd']

## Indentation

Indentation refers to the spaces at the beginning of a code line. It is very important as Python usesindentation to indicate a block of code. If the indentation is not correct we will endup with IndentationError error.

In [18]:
p = 10
if p == 10:
    print("p is equal to 10")   # correct indentation

p is equal to 10

In [19]:
# if indentation is skipped we will encounter "IndentationError: expected an indented block after 'if' statement on line x
p = 10
if p == 10:
print('P is equal to 10')

IndentationError: expected an indented block after 'if' statement on line 3 (3923632487.py, line 4)

In [20]:
for i in range(5):
    print(i)    # correct indentation

0
1
2
3
4

In [21]:
# if indentation is skipped we will encounter "IndentationError: expected an indented block after 'if' statement on line x
for i in range(5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 2 (3420822794.py, line 3)

In [22]:
for i in range(5): print(i)     # correct indentation but less readable

0
1
2
3
4

In [23]:
j=20
for i in range(0,5):
    print(i)    # inside of for loop
print(j)    # outside of for loop

0
1
2
3
4
20

## Docstrings

1. Docstrings provide a convenient way of associating documentation with functions, classes, methods or modules
2. They appear right after the definition of a function, method, class or module.

In [24]:
def square(num):
    '''Square Function :- This function will return the sqaure of a number'''
    return num**2
square(2)

4

In [25]:
square.__doc__ # We can access the Docstring using __doc__ method

'Square Function :- This function will return the sqaure of a number'

In [26]:
def evenodd(num):
    '''evenodd Function :- This function will test whether number is even or odd'''
    if num % 2 == 0:
        print('number is even')
    else:
        print('number is odd')
evenodd(3)
evenodd(10)
evenodd.__doc__

number is odd
number is even

'evenodd Function :- This function will test whether number is even or odd'

## Variables

A python variable is a reserved memory location to store values. A variable is created the moment you assign a value to it.

In [28]:
p = 30

'''id() function returns the "identity" of the object.
The identity of an object - Is a integer
                            - Guranteed to be unique
                            - Constant for this object during its lifetime.
'''
id(p)   # to know the identity of p object

140730901063368

In [29]:
hex(id(p))  # will return memory address of the variable

'0x7ffe775de6c8'

In [30]:
p = 20  # create an integer object with value 20 and assign the variable p
q = 20  # create new reference q which will point to value 20. p & q will be point to id(p)
r = q   # variable r will also pointing to the same location where p & q are pointing
p, type(p), hex(id(p))

(20, int, '0x7ffe775de588')

In [31]:
q, type(q), hex(id(q))

(20, int, '0x7ffe775de588')

In [32]:
r, type(r), hex(id(r))

(20, int, '0x7ffe775de588')

In [33]:
# variable overwriting
p = 20
p = p + 10
p

30

## variable assignment

In [34]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language"  # String variable

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

## Multiple Assignments

In [35]:
intvar, floatvar, strvar=10, 2.57, "Python Language"    # Using commas to separat
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [36]:
p1 = p2 = p3 = p4 = 44  # All variables pointing to same value
print(p1, p2, p3, p4)

44 44 44 44

## Datatypes

### Numeric

In [37]:
val1 = 10   # integer data type
print(val1)
print(type(val1))   # type of object
print(sys.getsizeof(val1))  # size of integer object in bytes
print(val1, "is Integer?", isinstance(val1, int))   # val1 is a instance of integer

10
<class 'int'>
28
10 is Integer? True

In [39]:
val2 = 98.72   # float data type
print(val2)
print(type(val2))   # type of object
print(sys.getsizeof(val2))  # size of integer object in bytes
print(val1, "is float?", isinstance(val2, float))   # val2 is a instance of integer

98.72
<class 'float'>
24
10 is float? True

In [40]:
val3 = 25 + 72j   # float data type
print(val3)
print(type(val3))   # type of object
print(sys.getsizeof(val3))  # size of integer object in bytes
print(val1, "is complex?", isinstance(val3, complex))   # val3 is a instance of integer

(25+72j)
<class 'complex'>
32
10 is complex? True

In [43]:
sys.getsizeof(int())     # size of integer object in bytes

28

In [44]:
sys.getsizeof(float())     # size of float object in bytes

24

In [45]:
sys.getsizeof(complex())     # size of complex object in bytes

32

### Boolean

In [47]:
bool1 = True
bool2 = False
print("type of bool1",type(bool1))
print("type of bool2",type(bool2))

type of bool1 <class 'bool'>
type of bool2 <class 'bool'>

In [48]:
isinstance(bool1, bool)
isinstance(bool2, bool)

True

In [49]:
bool(0)

False

In [50]:
bool(1)

True

In [51]:
bool(None)

False

In [52]:
bool(False)

False

### String

#### String Creation

In [53]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [54]:
mystr = 'Hello World'   # Define string using single quotes
print(mystr)

Hello World

In [55]:
mystr = "Hello World"   # Define string using double quotes
print(mystr)

Hello World

In [56]:
mystr = '''Hello World'''   # Define string using triple quotes
print(mystr)

Hello World

In [57]:
mystr = """Hello World"""   # Define string using triple quotes
print(mystr)

Hello World

In [59]:
str1 = 'Woohoo '
str2 = str1 * 5
print(str2)

Woohoo Woohoo Woohoo Woohoo Woohoo

In [60]:
len(str2)

35

#### String indexing

In [61]:
str1 = 'HELLO PYTHON'
str1

'HELLO PYTHON'

In [62]:
str1[0] # First character in string "str1"

'H'

In [63]:
str1[len(str1)-1]   # Last character in string using len function

'N'

In [64]:
str1[6] #Fetch 7th element of the string

'P'

In [65]:
str1[5]

' '

#### String slicing

In [66]:
str1[0:5]   # String slicing - Fetch all characters from 0 to 5 index

'HELLO'

In [67]:
str1[6:12]  # string slicing - retreive all characters between 6-12 index

'PYTHON'

In [68]:
str1[-4:]   # retreive last four characters of the string

'THON'

In [69]:
str1[-6:]   #Retreive last six characters of the string

'PYTHON'

In [70]:
str1[:4]    # Retreive first four characters of the string

'HELL'

In [71]:
str1[:6]    # Retreive first six characters of the string

'HELLO '

#### Update and Delete string

In [72]:
str1

'HELLO PYTHON'

In [73]:
# Strings are immutable which means elements of a string cannot be changed once they have been assigned
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [74]:
del str1    # deleting the string
print(str1)

NameError: name 'str1' is not defined

#### string concatenation

In [76]:
s1 = 'Hello'
s2 = ' World!'
s = s1 + s2
print(s)

Hello World!

In [77]:
s1 = 'Hello'
s2 = 'World!'   # removed the space and added separately
s = s1 + " " + s2
print(s)

Hello World!

#### Iterating through string

In [78]:
# iteration
for i in s:
    print(i)

H
e
l
l
o

W
o
r
l
d
!

In [79]:
for i in enumerate(s):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'W')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')
(11, '!')

In [80]:
list(enumerate(s))  # Enumerate method adds a counter to an iterable and return list

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd'),
 (11, '!')]

#### String membership

In [81]:
# String membership
mystr1 = "Hello Everyone"
print('Hello' in mystr1)
print('hi' in mystr1)
print('Everyone' in mystr1)

True
False
True

#### String partitioning

In [82]:
"""
partition(sep) method: Splits the string at the first occurrence of the separator sep.
It returns a tuple containing the part before the separator, the separator itself (if found),
and the part after the separator. If the separator is not found, the tuple will contain
the entire string in the first element, with the other two elements being empty strings.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [83]:
"""
partition(sep) method :- Splits the string at the last occurrence of the separator sep.
Similar to partition(), it returns a tuple with the part before the separator,
the separator itself, and the part after the separator. If the separator is not found,
the first element of the tuple will be an empty string, and the entire string will be in the third element.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

In [84]:
text = "foo_bar_baz"

# Using partition()
print(text.partition('_'))  # Output: ('foo', '_', 'bar_baz')

# Using rpartition()
print(text.rpartition('_'))  # Output: ('foo_bar', '_', 'baz')

('foo', '_', 'bar_baz')
('foo_bar', '_', 'baz')

#### String functions

In [87]:
# Python provides a rich set of string methods that perform various operations on string objects. Here's a non-exhaustive list of some commonly used string methods, along with examples for each:

# `strip()`
# Removes leading and trailing whitespace, including spaces, tabs, and newlines.

s = "   Hello, World!   "
print(s)
print(f"strip example: {s.strip()}")  # Output: "Hello, World!"


# `lstrip()`
# Removes leading (left-side) whitespace.

s = "   Hello, World!   "
print(s)
print(f"lstrip example: {s.lstrip()}")  # Output: "Hello, World!   "

# `rstrip()`
# Removes trailing (right-side) whitespace.

s = "   Hello, World!   "
print(s)
print(f"rstrip example: {s.rstrip()}")  # Output: "   Hello, World!"


# `split()`
# Splits a string into a list where each word is a list item.

s = "one two three"
print(s)
print(f"split example: {s.split()}")  # Output: ['one', 'two', 'three']

# `join()`
# Joins the elements of an iterable to the end of the string.

s = ", "
print(s)
print(f"join example: {s.join(['one', 'two', 'three'])}")  # Output: "one, two, three"

# `replace()`
# Replaces a string with another string.

s = "Hello, World!"
print(s)
print(f"replace example: {s.replace('World', 'Python')}")  # Output: "Hello, Python!"

# `upper()`
# Converts a string to uppercase.

s = "Hello, World!"
print(s)
print(f"upper example: {s.upper()}")  # Output: "HELLO, WORLD!"

# `lower()`
# Converts a string to lowercase.

s = "Hello, World!"
print(s)
print(f"lower example: {s.lower()}")  # Output: "hello, world!"

# `capitalize()`
# Converts the first character to uppercase.

s = "hello, world!"
print(s)
print(f"capitalize example: {s.capitalize()}")  # Output: "Hello, world!"

# `title()`
# Converts the first character of each word to uppercase.

s = "hello, world!"
print(s)
print(f"title example: {s.title()}")  # Output: "Hello, World!"

# `find()`
# Returns the lowest index of the substring if it is found.

s = "Hello, World!"
print(s)
print(f"find example: {s.find('World')}")  # Output: 7

# `index()`
# Similar to `find()`, but raises a `ValueError` if the substring is not found.

s = "Hello, World!"
print(s)
print(f"index example: {s.index('World')}")  # Output: 7

# `count()`
# Returns the number of times a substring occurs in the string.

s = "Hello, World!"
print(s)
print(f"count example: {s.count('l')}")  # Output: 3

# `startswith()`
# Returns `True` if the string starts with the specified prefix.

s = "Hello, World!"
print(s)
print(f"startwith example: {s.startswith('Hello')}")  # Output: True

# `endswith()`
# Returns `True` if the string ends with the specified suffix.

s = "Hello, World!"
print(s)
print(f"endswith example: {s.endswith('World!')}")  # Output: True


# `isalpha()`
# Checks if all characters in the string are alphabetic.

s = "HelloWorld"
print(s)
print(f"isalpha example: {s.isalpha()}")  # Output: True


# `isdigit()`
# Checks if all characters in the string are digits.

s = "123456"
print(s)
print(f"isdigit example: {s.isdigit()}")  # Output: True


# `isspace()`
# Checks if all characters in the string are whitespace.

s = "   "
print(s)
print(f"isspace example: {s.isspace()}")  # Output: True

# `islower()`
# Checks if all characters in the string are lowercase.

s = "hello world!"
print(s)
print(f"islower example: {s.islower()}")  # Output: True

# `isupper()`
# Checks if all characters in the string are uppercase.

s = "HELLO WORLD!"
print(s)
print(f"isupper example: {s.isupper()}")  # Output: True

# `istitle()`
# Checks if the string is titled (if each word starts with an uppercase letter).

s = "Hello World!"
print(s)
print(f"istitle example: {s.istitle()}")  # Output: True

# `zfill()`
# Fills the string with a specified number of zeros at the beginning.

s = "42"
print(s)
print(f"zfill example: {s.zfill(5)}")  # Output: "00042"

# `center()`
# Centers the string, padding it with specified characters.

s = "Hello"
print(s)
print(f"center example: {s.center(11, '-')}")  # Output: "---Hello---"

# `ljust()`
# Left-justifies the string, padding it with specified characters.

s = "Hello"
print(s)
print(f"ljust example: {s.ljust(10, '-')}")  # Output: "Hello-----"

# `rjust()`
# Right-justifies the string, padding it with specified characters.

s = "Hello"
print(s)
print(f"rjust example: {s.rjust(10, '-')}")  # Output: "-----Hello"


# `encode()`
# Encodes the string to the specified encoding.

s = "Hello, World!"
print(s)
print(f"encode example: {s.encode('utf-8')}")  # Output: b'Hello, World!'

# `format()`
# Formats the string using a format specification.

s = "The number is: {}"
print(s)
print(f"format example: {s.format(42)}")  # Output: "The number is: 42"

   Hello, World!
strip example: Hello, World!
   Hello, World!
lstrip example: Hello, World!
   Hello, World!
rstrip example:    Hello, World!
one two three
split example: ['one', 'two', 'three']
,
join example: one, two, three
Hello, World!
replace example: Hello, Python!
Hello, World!
upper example: HELLO, WORLD!
Hello, World!
lower example: hello, world!
hello, world!
capitalize example: Hello, world!
hello, world!
title example: Hello, World!
Hello, World!
find example: 7
Hello, World!
index example: 7
Hello, World!
count example: 3
Hello, World!
startwith example: True
Hello, World!
endswith example: True
HelloWorld
isalpha example: True
123456
isdigit example: True

isspace example: True
hello world!
islower example: True
HELLO WORLD!
isupper example: True
Hello World!
istitle example: True
42
zfill example: 00042
Hello
center example: ---Hello---
Hello
ljust example: Hello-----
Hello
rjust example: -----Hello
Hello, World!
encode example: b'Hello, World!'
The number is: {}
format example: The number is: 42

In [88]:
mystr2 = "123456"
print(mystr2.isdigit())
print(mystr2.isalpha())
print(mystr2.isalnum())
print(mystr2.isdecimal())
print(mystr2.isnumeric())

True
False
True
True
True

In [89]:
mystr2 = "abcde"
print(mystr2.isdigit())
print(mystr2.isalpha())
print(mystr2.isalnum())
print(mystr2.isdecimal())
print(mystr2.isnumeric())

False
True
True
False
False

In [90]:
mystr2 = "abcd4569"
print(mystr2.isdigit())
print(mystr2.isalpha())
print(mystr2.isalnum())
print(mystr2.isdecimal())
print(mystr2.isnumeric())

False
False
True
False
False

#### Using escape character

In [93]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "GameofThrones""

SyntaxError: invalid syntax (818447417.py, line 2)

In [94]:
# Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

### List

1. list is an ordered sequence of an item
2. We can have different datatypes under a list. E.g. we can have integer, float, string, dictionary, list, tuple in a same list.

#### List creation

In [95]:
list1 = []  # empty list
list2 = list()  # empty list
print(type(list1))
print(type(list2))

<class 'list'>
<class 'list'>

In [96]:
list2 = [2,3,4]     # list of integers
list3 = [10.2, 23.2, 49.5]  # list of floats
list4 = [2+3j, 4-5j, -3j, 4]    # list of complex numbers
list5 = ['a', 'hello', '23 address']    # list of string
list6 = [['a','b','c'],[1,2,3,4], 'hello']  # nested list
list7 = [{'key1':'value1', 'key2':'value2'}, ['hey', 'hello'], (1,2,3,4), {'red', 'blue', 'green'}] #list of mix instances of data types
len(list7)  # answer 4 as there are 1 dictionary, 1 list, 1 tuple and 1 set inside main list

4

#### List Indexing

In [97]:
list2[0]    # retreive first element of list2

2

In [98]:
list4[2]    # Note: complex numbers are returned in tuple

(-0-3j)

In [99]:
list5[-1]   # last element of list 5

'23 address'

In [100]:
# list2 = [2,3,4]
list2[2:4]      # as in list there is no 3rd or 4th index so our call will only return the value of 2nd index

[4]

In [101]:
list1 = [1,2,4,5,6,3,2,6,3]
list1[2:4]          # Note: when you call a range, it will return n-1 indexed value. In example 2nd and 3rd index were returned

[4, 5]

In [102]:
list1 = [1,2,4,5,6,3,2,6,3]
list1[2:7]

[4, 5, 6, 3, 2]

In [103]:
list1 = [1,2,4,5,6,3,2,6,3]
list1[:4]           # return values upto 4th index (n-1), so it will not cover 4th index

[1, 2, 4, 5]

In [104]:
list1 = [1,2,4,5,6,3,2,6,3]
list1[4:]          # return values from 4th index

[6, 3, 2, 6, 3]

In [105]:
list1 = [1,2,4,5,6,3,2,6,3]
list1[-3:]          # return last to 3rd index.

# Note: when we write (-) negative value then the index starts from back side and last index starts with -1.

[2, 6, 3]

In [110]:
# how to get whole list:
list1 = [1,2,4,5,6,3,2,6,3]
list1[:] # or
print(list1[:]) # or
print(list1)

[1, 2, 4, 5, 6, 3, 2, 6, 3]
[1, 2, 4, 5, 6, 3, 2, 6, 3]

#### Add, Remove, Change and Copy items in list

In [111]:
mylist = ['apple', 'banana', 'oranges', 'pineapple']
print(f"Here is mylist: {mylist}")

Here is mylist: ['apple', 'banana', 'oranges', 'pineapple']

In [112]:
mylist.append('grapes')
mylist

['apple', 'banana', 'oranges', 'pineapple', 'grapes']

In [114]:
# insert method requires two arguments: index number and value
mylist.insert(7, 'olives')
mylist
print(mylist.index('olives'))   # answer 5, even if we have defined 'olives' at index 7, because by that time index 7 was not there.

5

In [115]:
mylist = [1,2,3,4,5,6,7,8,9]
mylist.insert(3, 45)
mylist

[1, 2, 3, 45, 4, 5, 6, 7, 8, 9]

In [118]:
mylist.remove(45)   # will remove that particular value
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [120]:
# pop method
mylist = [1,2,3,4,5,6,7,8,9]
mylist.pop()    # will remove last item
print(mylist)
mylist.pop(1)   # will remove value from index 1
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 4, 5, 6, 7, 8]

In [121]:
del mylist[0]   # remove 0th indexed value
print(mylist)

[3, 4, 5, 6, 7, 8]

In [122]:
# change value using index
mylist[0] = 1
mylist[2] = 52
mylist[5] = 75
print(mylist)

[1, 4, 52, 6, 7, 75]

In [123]:
# clear the list or empty it
mylist.clear()
print(mylist)

[]

In [124]:
# delete the whole list. Note: not equal to empty it
del mylist
print(mylist)

NameError: name 'mylist' is not defined

In [126]:
# copy list
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
mylist2 = mylist    # this will create new reference of mylist, it is not copying the list

In [127]:
id(mylist), id(mylist2) # both addresses are same, as it is refering to same address

(2164281868480, 2164281868480)

In [128]:
mylist2 = mylist.copy()
mylist2
id(mylist), id(mylist2) # this is actually copied the items so, now they have different id

(2164281868480, 2164281897856)

#### join list

In [131]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

list3 = list1 + list2
print(list3)

print(f"list1 before the extension with list2 {list1}")

list1.extend(list2)
print(f"list1 after list2 extension {list1}")

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
list1 before the extension with list2 ['one', 'two', 'three', 'four']
list1 after list2 extension ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#### list membership

In [132]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [133]:
print('one' in list1)

True

In [134]:
'ten' in list1

False

In [135]:
if 'three' in list1:
    print('operation with three')
else:
    print('operation without three')

operation with three

#### reverse & sort list

In [136]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [139]:
list1.reverse()
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [142]:
list1 = list1[::-1]
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [144]:
mylist = [1,3,5,2,6,7,4]
mylist.sort()
mylist

[1, 2, 3, 4, 5, 6, 7]

In [145]:
mylist = [1,3,5,2,6,7,4]
mylist.sort(reverse=True)
mylist

[7, 6, 5, 4, 3, 2, 1]

In [147]:
mylist4 = [45, 23, 67, 22, 60, 63, 15]
sorted(mylist4)

[15, 22, 23, 45, 60, 63, 67]

#### loop through a list

In [148]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [149]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [150]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

#### count

In [151]:
list10 = [1, 3, 5, 2, 6, 2, 4, 6, 2, 9]
list10.count(2) # note that integer value

3

In [153]:
list3 = ['one', 'two', 'three', 'two', 'two', 'six', 'two', 'eight']
list3.count('two')  # note that string value

4

#### All or Any

**The all() method returns**:
`True` - If all elements in a list are true
`False` - If any element in a list is false

**The any() function returns**: `True` if any element in the list is True. If not, any() returns `False`.

In [154]:
l1 = [1,2, 6, 9, 0]
all(l1)     # will return false as we have one 0 value

False

In [155]:
any(l1)     # will return true because we have not zero value or not null value in list

True

In [157]:
l1 = [1,2, 6, 9, True, False]
any(l1)

True

In [158]:
all(l1)

False

#### List comprehension

In [159]:
numbers = [1, 2, 3, 4, 5]
squared = [x ** 2 for x in numbers]
print(squared)

[1, 4, 9, 16, 25]

In [160]:
# Using list comprehension to iterate through loop
List = [character for character in [1, 2, 3]]
# Displaying list
print(List)

[1, 2, 3]

In [161]:
list = [i for i in range(11) if i % 2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

In [162]:
matrix = [[j for j in range(3)] for i in range(3)]

print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [163]:
# Using list comprehension to iterate through loop
List = [character for character in 'Geeks 4 Geeks!']

# Displaying list
print(List)

['G', 'e', 'e', 'k', 's', ' ', '4', ' ', 'G', 'e', 'e', 'k', 's', '!']

In [167]:
# using lambda to print table of 10
numbers = list(map(lambda i: i*10, [i for i in range(1, 6)]))

print(numbers)  # the result will be [10, 20, 30, 40, 50], somehow jupyter notebook giving Type error at list()

TypeError: 'list' object is not callable

In [168]:
lis = ["Even number" if i % 2 == 0 else "Odd number" for i in range(8)]
print(lis)

['Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number', 'Even number', 'Odd number']

In [169]:
lis = [num for num in range(100) if num % 5 == 0 if num % 10 == 0]
print(lis)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [170]:
# Assign matrix
twoDMatrix = [[10, 20, 30],
			[40, 50, 60],
			[70, 80, 90]]

# Generate transpose
trans = [[i[j] for i in twoDMatrix] for j in range(len(twoDMatrix[0]))]

print(trans)

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [171]:
# Reverse each string in tuple
List = [string[::-1] for string in ('Geeks', 'for', 'Geeks')]

# Display list
print(List)

['skeeG', 'rof', 'skeeG']

In [172]:
# Creating a list of Tuples from two separate Lists
names = ["G", "G", "g"]
ages = [25, 30, 35]
person_tuples = [(name, age) for name, age in zip(names, ages)]
print(person_tuples)

[('G', 25), ('G', 30), ('g', 35)]

### Tuple

1. Tuple is similar to List except the objects in tuple are `immutable` which means we cannot change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

#### Tuple creation

In [174]:
tup1 = ()   # empty tuple
tup2 = (10, 30, 50) # tuple of integer numbers
tup3 = (10.3, 30.4, 50.5)   # tuple of float numbers
tup4 = ('one','two', 'three')   # tuple of strings
tup5 = ('Asia', 34, (10,30), 20)    # nested tuple
tup6 = ('Asia', 34, 20.5)   # mixed data types
tup7 = ('Asif', 25, [50,100], [150,90], {'John','David'}, (99,22,3))

In [175]:
len(tup7)

6

#### Tuple indexing

In [176]:
tup2[0]     # retreive first element of tuple

10

In [177]:
tup4[0]

'one'

In [178]:
tup4[0][0]  # Nested indexing - Access the first character of the first tuple index

'o'

In [179]:
tup4[-1]    # retreive last element of tuple

'three'

In [181]:
tup5[-2]

(10, 30)

#### Tuple slicing

In [182]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [183]:
mytuple[0:3]    # list all items from 0th to 3rd index

('one', 'two', 'three')

In [184]:
mytuple[2:5]    # list all items from 2nd to 5th index

('three', 'four', 'five')

In [185]:
mytuple[:3]     # list all items upto 3rd index

('one', 'two', 'three')

In [186]:
mytuple[-3:]    # list all items starting from last 3rd index to end

('six', 'seven', 'eight')

In [187]:
mytuple[-1:]    # list all items starting from last index to end

('eight',)

In [188]:
mytuple[-1]     # list only last item

'eight'

In [189]:
mytuple[:]      # return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

#### Remove and change items

In [190]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [191]:
del mytuple[0]  # tuples are immutable so we cannot delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [192]:
mytuple[0] = 1  # tuples are immutable so we cannot edit or change tuple items

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple     # deleting entire tuple object is possible

#### Loop through tuple

In [193]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [198]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [199]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

#### Concatination in tuple

In [194]:
# Code for concatenating 2 tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')

# Concatenating above two
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'geek')

#### Nesting in tuple

In [195]:
# Code for creating nested tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')

tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

#### Repetition of tuple

In [196]:
# Code to create a tuple with repetition
tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

#### Converting a list to tuple

In [197]:
# Code for converting a list and a string into a tuple
list1 = [0, 1, 2]

print(tuple(list1))

# string 'python'
print(tuple('python'))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

#### Count in tuple

In [201]:
mytuple = ('one', 'two', 'three', 'two', 'five', 'six', 'two', 'eight')
mytuple.count('two')

3

#### Tuple membership

In [202]:
mytuple

('one', 'two', 'three', 'two', 'five', 'six', 'two', 'eight')

In [203]:
'one' in mytuple

True

In [204]:
'four' in mytuple

False

#### Index position

In [205]:
mytuple.index('one')

0

In [208]:
print(mytuple)
mytuple.index('two')    # two is in multiple location but index method will return the first index of the value found in tuple

('one', 'two', 'three', 'two', 'five', 'six', 'two', 'eight')

1

#### Sorting

In [209]:
mytuple

('one', 'two', 'three', 'two', 'five', 'six', 'two', 'eight')

In [210]:
sorted(mytuple)     # tuple has only sorted method to sort the values

['eight', 'five', 'one', 'six', 'three', 'two', 'two', 'two']

### Sets

1) Unordered & Unindexed collection of items.
2) Set elements are `unique`. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.

#### Set creation

A set is an unordered collection of items where every element is unique and must be immutable, but set is mutable. You cannot access an element of set using indexing or slicing, but you can update the set.

Some important functions in Set in Python:
- add(): Adds an element to the set.
- clear(): Removes all elements from the set
- discard(): Removes an element from the set if present.
- remove(): Removes an element from the set. If the element is not present, it raises error.
- pop(): Removes and returns an arbitary set element. Raise error if the set is empty.
- union(): Returns the union of sets in a new set
- update(): Updates the set with the union of itself and others
- len(): Return the length of set.
- sorted(): Return a new sorted list from elements in the set.
- sum(): Return the sum of all elements in the set.

Let's implement these methods through a question. Given Q queries to do some operation on Set, the task is to perform all the queries in the Set as given below:
a. i element: Adds element to the set.
b. r element: Remove element from set.
c. s: Find sum of elements in set. Returns the sum of elements in Set.

In [211]:
myset = {1,2,3,5}
myset

{1, 2, 3, 5}

In [212]:
len(myset)

4

In [213]:
myset = {1,2,3,5, 3,4, 6, 7, 2, 8, 1, 1, 1, 8}  # look what happens to repeated items, duplicates are not allowed
myset

{1, 2, 3, 4, 5, 6, 7, 8}

In [214]:
myset_float = {1.79,2.08,3.99,4.56,5.45}    # set of float
myset_float

{1.79, 2.08, 3.99, 4.56, 5.45}

In [215]:
myset_string = {'one', 'two', 'three', 'four', 'def'}    # set of string
myset_string

{'def', 'four', 'one', 'three', 'two'}

In [220]:
myset = set()
print(type(myset))

<class 'set'>

#### Set with mutable items like list

In [217]:
myset = {10, 'one', 30.4, (1,2,4)}
myset

{(1, 2, 4), 10, 30.4, 'one'}

In [218]:
myset = {10, 'one', 30.4, (1,2,4), [1,2,3,4]}   # set doesn't allow immutable items like list
myset

TypeError: unhashable type: 'list'

#### Loop through a set

In [221]:
myset = {'one', 'two', 'three' 'four', 'five'}
for i in myset:
    print(i)

two
threefour
one
five

In [222]:
for i in enumerate(myset):
    print(i)

(0, 'two')
(1, 'threefour')
(2, 'one')
(3, 'five')

#### Set membership

In [223]:
myset

{'five', 'one', 'threefour', 'two'}

In [224]:
'one' in myset

True

In [225]:
'four' in myset

False

#### Add or remove items

In [226]:
myset

{'five', 'one', 'threefour', 'two'}

In [228]:
myset.add('NINE')
myset

{'NINE', 'five', 'one', 'threefour', 'two'}

In [229]:
myset.update(['TEN','ELEVEN','TWELVE'])
myset

{'ELEVEN', 'NINE', 'TEN', 'TWELVE', 'five', 'one', 'threefour', 'two'}

In [230]:
myset.remove('NINE')
myset

{'ELEVEN', 'TEN', 'TWELVE', 'five', 'one', 'threefour', 'two'}

In [231]:
myset.discard('TEN')
myset

{'ELEVEN', 'TWELVE', 'five', 'one', 'threefour', 'two'}

In [233]:
myset.clear()    # will remove all items, or make empty set
myset

set()

In [234]:
del myset   # delete the set object
myset

NameError: name 'myset' is not defined

#### Copy set

In [235]:
myset = {'one', 'two', 'three', 'four', 'five', 'six'}
myset

{'five', 'four', 'one', 'six', 'three', 'two'}

In [236]:
myset1 = myset
myset1

{'five', 'four', 'one', 'six', 'three', 'two'}

In [237]:
id(myset1), id(myset)       # will show you that it is not copied, it is only refering to same object

(2164282141024, 2164282141024)

In [239]:
myset1 = myset.copy()
myset1

{'five', 'four', 'one', 'six', 'three', 'two'}

In [240]:
id(myset1), id(myset)

(2164282141696, 2164282141024)

In [241]:
myset1.add('nine')
print(f"myset1: {myset1}")
print(f"myset: {myset}")

myset1: {'three', 'nine', 'six', 'four', 'two', 'one', 'five'}
myset: {'three', 'six', 'four', 'two', 'one', 'five'}

#### Set operations

1. `Union`
2. `Intersection`
3. `Difference`
4. `Symmetric Difference`
5. `Subset, Superset, Disjoint`

In [242]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [243]:
A|B      # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [244]:
A.union(B)  # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [245]:
A.union(B,C)    # Union of A, B and C (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [246]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [247]:
# Intersection
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [248]:
A & B       # Intersection of A and B (Common items in both sets)

{4, 5}

In [249]:
A.intersection(B)       #Intersection of A and B

{4, 5}

In [250]:
"""
Updates the set calling the intersection_update() method with the intersection of
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

In [252]:
# Difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [253]:
A-B     # set of elements that are only in A but not in B

{1, 2, 3}

In [254]:
A.difference(B) # set of elements that are only in A but not in B

{1, 2, 3}

In [255]:
B - A   # set of elements that are only in B but not in A

{6, 7, 8}

In [256]:
"""
Updates the set calling the difference_update() method with the difference of set
For below example Set B will be updated with the difference of B & A.
"""
A.difference_update(B)
A

{1, 2, 3}

In [257]:
A ^ B   # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDE Common")

{1, 2, 3, 4, 5, 6, 7, 8}

In [258]:
A.symmetric_difference(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [261]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [262]:
# Subset
B.issubset(A)

True

In [264]:
# Superset
A.issuperset(B)

True

In [265]:
# Disjoint
C.isdisjoint(A) # if they have no common element then True

False

#### Built-in functions for set

In [266]:
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [267]:
sum(A)

36

In [268]:
min(A)

1

In [269]:
max(A)

8

In [270]:
len(A)

8

In [271]:
list(enumerate(A))

TypeError: 'list' object is not callable

In [272]:
D = sorted(A, reverse=True)
D

[8, 7, 6, 5, 4, 3, 2, 1]

In [273]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8]

### Dictionary

1. Dictionary is a mutable data type in Python.
2. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosedin curly braces {}.
3. `Keys` must be unique in a dictionary, duplicate values are allowed.

#### Create dictionary

In [274]:
mydict = dict()
print(type(mydict))

<class 'dict'>

In [275]:
mydict = {}
print(type(mydict))

<class 'dict'>

In [276]:
mydict = {1:'one', 2:'two', 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [277]:
mydict.keys()

dict_keys([1, 2, 3])

In [278]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [279]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [280]:
mydict = {1:'one', 2:'two', 3:'three', 4:['apple', 'banana', 'oranges'], 5:('train', 'bus'), 6: {'set1', 'set2'}, 7: {'A': 'apple'}}
mydict

{1: 'one',
 2: 'two',
 3: 'three',
 4: ['apple', 'banana', 'oranges'],
 5: ('train', 'bus'),
 6: {'set1', 'set2'},
 7: {'A': 'apple'}}

In [281]:
some_set = {'a', 'b', 'c', 'd'}
mydict2 = dict.fromkeys(some_set)   # Create a dictionary from a sequence of keys
mydict2

{'d': None, 'a': None, 'b': None, 'c': None}

In [282]:
some_set = {'a', 'b', 'c', 'd'}
val = 10
mydict2 = dict.fromkeys(some_set, val)   # Create a dictionary from a sequence of keys with value of 10
mydict2

{'d': 10, 'a': 10, 'b': 10, 'c': 10}

In [283]:
some_set_keys = {'a', 'b', 'c', 'd'}
some_set_values = {10, 30, 20, 40}
mydict2 = dict.fromkeys(some_set_keys, some_set_values)   # Create a dictionary from a sequence of keys
mydict2

{'d': {10, 20, 30, 40},
 'a': {10, 20, 30, 40},
 'b': {10, 20, 30, 40},
 'c': {10, 20, 30, 40}}

In [284]:
some_set_keys = {'a', 'b', 'c', 'd'}
some_set_values = [10, 30, 20, 40]
mydict2 = dict.fromkeys(some_set_keys, some_set_values)   # Create a dictionary from a sequence of keys
mydict2

{'d': [10, 30, 20, 40],
 'a': [10, 30, 20, 40],
 'b': [10, 30, 20, 40],
 'c': [10, 30, 20, 40]}

#### Accesing Items

In [285]:
mydict = {1:'one', 2:'two', 3:'three', 4:'four'}
mydict[1]

'one'

In [286]:
mydict.get(1)

'one'

In [287]:
mydict.get(5, 'sorry the key, value pair is not available')

'sorry the key, value pair is not available'

In [298]:
# Accesing element from nested dictionary
Dict = {'Dict1': {1: 'Geeks'},
		'Dict2': {'Name': 'For'}}

print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

In [301]:
# initializing dictionary
test_dict = {"Geeks": 1, "for": 2, "geeks": 3}

# using enumerate() to get key and value
print("Dict key-value are : ")
for i in enumerate(test_dict.items()):
	print(i)

Dict key-value are :
(0, ('Geeks', 1))
(1, ('for', 2))
(2, ('geeks', 3))

In [302]:
# using list comprehension to
# get key and value
print("Dict key-value are : ")
print([(k, test_dict[k]) for k in test_dict])

Dict key-value are :
[('Geeks', 1), ('for', 2), ('geeks', 3)]

In [303]:
# Initializing an empty list
key_value_pairs = []

# Using a for loop to iterate over the items in the dictionary
# and append each key-value pair to the list
for key, value in test_dict.items():
	key_value_pairs.append((key, value))

# Printing the key-value pairs
print("Dict key-value are : ")
for pair in key_value_pairs:
	print(pair)

Dict key-value are :
('Geeks', 1)
('for', 2)
('geeks', 3)

#### Add, Remove and Change items

In [288]:
mydict = {'Name': 'Joseph', 'ID': 456, 'DOB':1998, 'Address':'California'}
mydict

{'Name': 'Joseph', 'ID': 456, 'DOB': 1998, 'Address': 'California'}

In [290]:
mydict['DOB'] = 1992
mydict['Address'] = 'Gotri'
mydict

{'Name': 'Joseph', 'ID': 456, 'DOB': 1992, 'Address': 'Gotri'}

In [291]:
somedict = {'DOB':1995}
mydict.update(somedict)
mydict

{'Name': 'Joseph', 'ID': 456, 'DOB': 1995, 'Address': 'Gotri'}

In [292]:
mydict['Job'] = 'Analyst'
mydict

{'Name': 'Joseph',
 'ID': 456,
 'DOB': 1995,
 'Address': 'Gotri',
 'Job': 'Analyst'}

In [294]:
mydict.pop('Job')   # remove specific item
mydict

{'Name': 'Joseph', 'ID': 456, 'DOB': 1995, 'Address': 'Gotri'}

In [295]:
mydict.popitem()    # remove last item
mydict

{'Name': 'Joseph', 'ID': 456, 'DOB': 1995}

In [296]:
mydict.clear()
mydict

{}

In [297]:
del mydict
mydict

NameError: name 'mydict' is not defined

#### Copy Dictionary

In [305]:
mydict = {'key1':'val1','key2':'val2','key3':'val3'}
mydict

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [306]:
mydict1 = mydict
mydict1

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [307]:
id(mydict), id(mydict1)

(2164280409728, 2164280409728)

In [308]:
mydict1 = mydict.copy()
mydict1, id(mydict1), id(mydict)

({'key1': 'val1', 'key2': 'val2', 'key3': 'val3'},
 2164281261440,
 2164280409728)

#### Merge dictionaries

In [299]:
veg1 = {0: 'Carrot', 1: 'Raddish'}
veg2 = {2: 'Brinjal', 3: 'Potato'}

veg_dict = (veg1 | veg2)
print(veg_dict)

{0: 'Carrot', 1: 'Raddish', 2: 'Brinjal', 3: 'Potato'}

In [ ]:
# Add values to dictionary Using the in-place merge( |= ) operator.
veg1 = {0:'Carrot', 1:'Raddish'}
veg2 = {2:'Brinjal', 3:'Potato'}

veg1 |= veg2
print(veg1)

#### Dictionary Membership

In [311]:
mydict = {'Name': 'Asia', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}
mydict

{'Name': 'Asia', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [310]:
'Name' in mydict

True

In [312]:
'Asia' in mydict    # Membership test can only be apply on keys not values

False

#### All/Any for Dictionary

*All()*:
- `True` if all keys of the dictionary are true
- `False` if any keys of the dictionary is false

*Any()*:
- `True` if any key is true
- `False` if not any() return false

In [314]:
mydict = {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [315]:
all(mydict)

True

In [316]:
any(mydict)

True

In [318]:
mydict = {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 0: 'Analyst'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 0: 'Analyst'}

In [320]:
all(mydict), any(mydict)

(False, True)

In [322]:
mydict = {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': None}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': None}

In [323]:
all(mydict), any(mydict)    # Values can be None, False, empty doesn't matter

(True, True)

#### Dictionary Comprehension

In [326]:
dict2 = {f"{i}_":i*2 for i in range(10)}#double each value using dict comprehension
dict2

{'0_': 0,
 '1_': 2,
 '2_': 4,
 '3_': 6,
 '4_': 8,
 '5_': 10,
 '6_': 12,
 '7_': 14,
 '8_': 16,
 '9_': 18}

In [325]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [328]:
some_string = "abcdefghijklmnopqrstuvwxyz"
cap_dict = {i: i.upper() for i in some_string}
cap_dict

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

## Type Conversion

### converting to integer

In [ ]:
# Converting a float to an integer
float_number = 3.14
int_number = int(float_number)
print(int_number)  # Output: 3

# Converting a string to an integer
string_number = "5"
int_number = int(string_number)
print(int_number)  # Output: 5

### converting to float

In [ ]:
# Converting an integer to a float
int_number = 10
float_number = float(int_number)
print(float_number)  # Output: 10.0

# Converting a string to a float
string_number = "3.14"
float_number = float(string_number)
print(float_number)  # Output: 3.14

### converting to a string

In [ ]:
# Converting an integer to a string
int_number = 10
string_number = str(int_number)
print(string_number)  # Output: '10'

# Converting a float to a string
float_number = 3.14
string_number = str(float_number)
print(string_number)  # Output: '3.14'

### converting to a list

In [ ]:
# Converting a string to a list
string_val = "hello"
list_val = list(string_val)
print(list_val)  # Output: ['h', 'e', 'l', 'l', 'o']

# Converting a tuple to a list
tuple_val = (1, 2, 3)
list_val = list(tuple_val)
print(list_val)  # Output: [1, 2, 3]

### converting to a tuple

In [ ]:
# Converting a list to a tuple
list_val = [1, 2, 3]
tuple_val = tuple(list_val)
print(tuple_val)  # Output: (1, 2, 3)

# Converting a string to a tuple
string_val = "hello"
tuple_val = tuple(string_val)
print(tuple_val)  # Output: ('h', 'e', 'l', 'l', 'o')

### converting to a dictionary

In [ ]:
# Converting a list of tuples to a dictionary
list_of_tuples = [("a", 1), ("b", 2), ("c", 3)]
dict_val = dict(list_of_tuples)
print(dict_val)  # Output: {'a': 1, 'b': 2, 'c': 3}

## Operators

### Arithmetc Operators

In [329]:
x = 5
y = 6

In [330]:
x + y   # Addition: adds two operands

11

In [331]:
x - y   # Subtraction: subtracts two operands

-1

#### Float division
Float division
The quotient returned by this operator is always a float number, no matter if two numbers are integers. For example:

Example: The code performs division operations and prints the results. It demonstrates that both integer and floating-point divisions return accurate results. For example, 10/2' results in 5.0, and -10/2' results in -5.0.

In [332]:
x / y   # Multiplication: multiplies two operands

0.8333333333333334

In [333]:
x * y   # Division (float): divides the first operand by the second

30

In [334]:
x % y   # returns the remainder when the first operand is divided by the second

5

#### Floor division
Integer division( Floor division)
The quotient returned by this operator is dependent on the argument being passed. If any of the numbers is float, it returns output in float. It is also known as Floor division because, if any number is negative, then the output will be floored. For example:

Example: The code demonstrates integer (floor) division operations using the //' operator. It provides results as follows: 10//3 equals 3, -5//2 equals -3, 5.0//2 equals 2.0, and -5.0//2 equals -3.0. Integer division returns the largest integer less than or equal to the division result.

In [335]:
x // y  # Division (floor): divides the first operand by the second

0

In [336]:
x ** y  # Power: Returns first raised to power second

15625

### Comparision Operators

In [337]:
x = 5
y = 10
x > y

False

In [338]:
x < y

True

In [339]:
x == y

False

In [340]:
x != y

True

In [345]:
a = "abcd"
b = "ABCD"
a == b, a > b       # Here the comparision is done based on ascii value

(False, True)

In [341]:
x >= y

False

In [342]:
x <= y

True

### Logical Operators

In [346]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

### Bitwise Operators

In [347]:
a = 10
b = 4
print(a & b)        # Bitwise AND
print(a | b)        # Bitwise OR
print(~a)           # Bitwise NOT
print(a ^ b)        # Bitwise XOPR
print(a >> 2)       # Bitwise shift (right shift)
print(a << 2)       # Bitwise shift (left shift)

0
14
-11
14
2
40

In [348]:
a = 2
b = 3
print(a & b)        # Bitwise AND
print(a | b)        # Bitwise OR
print(~a)           # Bitwise NOT
print(a ^ b)        # Bitwise XOPR
print(a >> 2)       # Bitwise shift (right shift)
print(a << 2)       # Bitwise shift (left shift)

2
3
-3
1
0
8

### Assignment Operators

In [352]:
a = 10
b = a           # Assign the value of the right side of the expression to the left side operand
print(b)
b += a          # Add AND: Add right-side operand with left-side operand and then assign to left operand
print(b)
b -= a          # Subtract AND: Subtract right operand from left operand and then assign to left operand
print(b)
b *= a          # Multiply AND: Multiply right operand with left operand and then assign to left operand
print(b)
b /= a          # Divide AND: Divide left operand with right operand and then assign to left operand
print(b)


a = 10
b = a
b %= a          # Modulus AND: Takes modulus using left and right operands and assign the result to left operand
print(b)

a = 10
b = a
b //= a         # Divide(floor) AND: Divide left operand with right operand and then assign the value(floor) to left operand
print(b)

a = 10
b = a
b **= a         # Exponent AND: Calculate exponent(raise power) value using operands and assign value to left operand
print(b)

a = 10
b = a
b &= a          # Performs Bitwise AND on operands and assign value to left operand
print(b)

a = 10
b = a
b |= a          # Performs Bitwise OR on operands and assign value to left operand
print(b)

a = 10
b = a
b ^= a          # Performs Bitwise xOR on operands and assign value to left operand
print(b)

a = 10
b = a
b >>= a         # Performs Bitwise right shift on operands and assign value to left operand
print(b)

a = 10
b = a
b <<= a         # Performs Bitwise left shift on operands and assign value to left operand
print(b)

10
20
10
100
10.0
0
1
10000000000
10
10
0
0
10240

### Identity Operators

In [353]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

### Membership Operators

In [354]:
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
	print("x is NOT present in given list")
else:
	print("x is present in given list")

if (y in list):
	print("y is present in given list")
else:
	print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

### Ternary Operator

Syntax :  [on_true] if [expression] else [on_false]

In [355]:
a, b = 10, 20
min = a if a < b else b

print(min)

10

## Functions

- mainly two types of functions: built-in functions and user-defined functions
- user defined functions can be:
    - static functions
    - class methods
    - abstract methods
    - async functions

### Example of Functions

In [356]:
# Example of function
def add(num1: int, num2: int) -> int:
	"""Add two numbers"""
	num3 = num1 + num2

	return num3

# Driver code
num1, num2 = 5, 15
ans = add(num1, num2)
print(f"The addition of {num1} and {num2} results {ans}.")

The addition of 5 and 15 results 20.

In [357]:
# some more functions
def is_prime(n):
	if n in [2, 3]:
		return True
	if (n == 1) or (n % 2 == 0):
		return False
	r = 3
	while r * r <= n:
		if n % r == 0:
			return False
		r += 2
	return True
print(is_prime(78), is_prime(79))

False True

In [358]:
# Function with argument A simple Python function to check whether x is even or odd
def evenOdd(x):
	if (x % 2 == 0):
		print("even")
	else:
		print("odd")


# Driver code to call the function
evenOdd(2)
evenOdd(3)

even
odd

### Types of function arguments

- default argument
- keyword argument
- positional argument
- arbitrary argument (variable-length arguments *args and **kwargs)

In [359]:
# Python program to demonstrate default arguments
def myFun(x, y=50):
	print("x: ", x)
	print("y: ", y)


# Driver code (We call myFun() with only
# argument)
myFun(10)

x:  10
y:  50

In [360]:
# Python program to demonstrate Keyword Arguments
def student(firstname, lastname):
	print(firstname, lastname)


# Keyword arguments
student(firstname='Geeks', lastname='Practice')
student(lastname='Practice', firstname='Geeks')

Geeks Practice
Geeks Practice

In [361]:
# Python program to demonstrate positional argument
def nameAge(name, age):
	print("Hi, I am", name)
	print("My age is ", age)


# You will get correct output because
# argument is given in order
print("Case-1:")
nameAge("Suraj", 27)
# You will get incorrect output because
# argument is not in order
print("\nCase-2:")
nameAge(27, "Suraj")

Case-1:
Hi, I am Suraj
My age is  27

Case-2:
Hi, I am 27
My age is  Suraj

In [362]:
# Python program to illustrate *args for variable number of arguments
def myFun(*argv):
	for arg in argv:
		print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [363]:
# Python program to illustrate *kwargs for variable number of keyword arguments


def myFun(**kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

### Doc string
The first string after the function is called the Document string or Docstring in short. This is used to describe the functionality of the function. The use of docstring in functions is optional but it is considered a good practice.

The below syntax can be used to print out the docstring of a function:

Syntax: print(function_name.__doc__)

In [364]:
# A simple Python function to check whether x is even or odd


def evenOdd(x):
	"""Function to check if the number is even or odd"""

	if (x % 2 == 0):
		print("even")
	else:
		print("odd")


# Driver code to call the function
print(evenOdd.__doc__)

Function to check if the number is even or odd

### Function within Function

In [365]:
# Python program to
# demonstrate accessing of
# variables of nested functions

def f1():
	s = 'I love GeeksforGeeks'

	def f2():
		print(s)

	f2()

# Driver's code
f1()

I love GeeksforGeeks

### Lambda functions

In [366]:
# Python code to illustrate the cube of a number
# using lambda function
def cube(x): return x*x*x

cube_v2 = lambda x : x*x*x

print(cube(7))
print(cube_v2(7))

343
343

In [382]:
calc = lambda num: "Even number" if num % 2 == 0 else "Odd number"

print(calc(20))

Even number

In [383]:
filter_nums = lambda s: ''.join([ch for ch in s if not ch.isdigit()])
print("filter_nums():", filter_nums("Geeks101"))

do_exclaim = lambda s: s + '!'
print("do_exclaim():", do_exclaim("I am tired"))

find_sum = lambda n: sum([int(x) for x in str(n)])
print("find_sum():", find_sum(101))

filter_nums(): Geeks
do_exclaim(): I am tired!
find_sum(): 2

In [384]:
# difference between lambda functions and normal functions
def cube(y):
	print(f"Finding cube of number:{y}")
	return y * y * y

# invoking simple function
print("invoking function defined with def keyword:")
print(cube(30))


lambda_cube = lambda num: num ** 3
# invoking lambda function
print("invoking lambda function:", lambda_cube(30))

invoking function defined with def keyword:
Finding cube of number:30
27000
invoking lambda function: 27000

In [ ]:
"""Lambda functions gets more helpful when used inside a function"""

l = ["1", "2", "9", "0", "-1", "-2"]
# sort list[str] numerically using sorted() and custom sorting key using lambda
print("Sorted numerically:", sorted(l, key=lambda x: int(x)))

# filter positive even numbers using filter() and lambda function
print("Filtered positive even numbers:", list(filter(lambda x: not (int(x) % 2 == 0 and int(x) > 0), l)))

# added 10 to each item after type and casting to int, then convert items to string again
print("Operation on each item using lambda and map()", list(map(lambda x: str(int(x) + 10), l)))

### Return statements in functions

In [367]:
def square_value(num):
	"""This function returns the square
	value of the entered number"""
	return num**2


print(square_value(2))
print(square_value(-4))

4
16

### Pass by refernce vs Pass by value

In [368]:
# Here x is a new reference to same list lst
def myFun(x):
	x[0] = 20       # reference is, for given x -> 0th index is 20


# Driver Code (Note that lst is modified
# after function call.
lst = [10, 11, 12, 13, 14, 15]
myFun(lst)
print(lst)

[20, 11, 12, 13, 14, 15]

In [369]:
def myFun(x):
    # After below line link of x with previous object gets broken. A new object is assigned to x.
	x = [20, 30, 40]


# Driver Code (Note that lst is not modified after function call.
lst = [10, 11, 12, 13, 14, 15]
myFun(lst)
print(lst)

[10, 11, 12, 13, 14, 15]

In [370]:
def myFun(x):

	# After below line link of x with previous object gets broken. A new object is assigned to x.
	x = 20


# Driver Code (Note that x is not modified after function call.
x = 10
myFun(x)
print(x)

10

### *args and **kwargs

In [371]:
def myFun(*argv):
	for arg in argv:
		print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [372]:
def myFun(arg1, *argv):
	print("First argument :", arg1)
	for arg in argv:
		print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

In [373]:
def myFun(**kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [374]:
def myFun(arg1, **kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun("Hi", first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [375]:
def myFun(*args, **kwargs):
	print("args: ", args)
	print("kwargs: ", kwargs)


# Now we can use both *args ,**kwargs to pass arguments to this function :
myFun('geeks', 'for', 'geeks', first="Geeks", mid="for", last="Geeks")

args:  ('geeks', 'for', 'geeks')
kwargs:  {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}

### Using *args and **kwargs in Python to set values of object
- *args receives arguments as a tuple.
- **kwargs receives arguments as a dictionary.

In [376]:
# defining car class
class car():
	# args receives unlimited no. of arguments as an array
	def __init__(self, *args):
		# access args index like array does
		self.speed = args[0]
		self.color = args[1]


# creating objects of car class
audi = car(200, 'red')
bmw = car(250, 'black')
mb = car(190, 'white')

# printing the color and speed of the cars
print(audi.color)
print(bmw.speed)

red
250

In [377]:
# defining car class
class car():
	# args receives unlimited no. of arguments as an array
	def __init__(self, **kwargs):
		# access args index like array does
		self.speed = kwargs['s']
		self.color = kwargs['c']


# creating objects of car class
audi = car(s=200, c='red')
bmw = car(s=250, c='black')
mb = car(s=190, c='white')

# printing the color and speed of cars
print(audi.color)
print(bmw.speed)

red
250

## Generator functions
- it will use `yield` instead of `return`
- The yield statement suspends a functions execution and sends a value back to the caller, but retains enough state to enable the function to resume where it left off.
- When the function resumes, it continues execution immediately after the last yield run. This allows its code to produce a series of values over time, rather than computing them at once and sending them back like a list.
- Return sends a specified value back to its caller whereas Yield can produce a sequence of values. We should use yield when we want to iterate over a sequence, but dont want to store the entire sequence in memory.

In [378]:
# A Simple Python program to demonstrate working of yield

# A generator function that yields 1 for the first time, 2 second time and 3 third time


def simpleGeneratorFun():
	yield 1
	yield 2
	yield 3


# Driver code to check above generator function
for value in simpleGeneratorFun():
	print(value)

1
2
3

In [379]:
# A Python program to generate squares from 1 to 100 using yield and therefore generator
# An infinite generator function that prints next square number. It starts with 1

def nextSquare():
	i = 1

	# An Infinite loop to generate squares
	while True:
		yield i*i
		i += 1 # Next execution resumes from this point

# Driver code to test above generator function
for num in nextSquare():
	if num > 100:
		break
	print(num)

1
4
9
16
25
36
49
64
81
100

### Generator and next() function

In [380]:
# A Python program to demonstrate use of
# generator object with next()

# A generator function
def simpleGeneratorFun():
	yield 1
	yield 2
	yield 3

# x is a generator object
x = simpleGeneratorFun()

# Iterating over the generator object using next

# In Python 3, __next__()
print(next(x))
print(next(x))
print(next(x))

1
2
3

In [381]:
# A simple generator for Fibonacci Numbers
def fib(limit):

	# Initialize first two Fibonacci Numbers
	a, b = 0, 1

	# One by one yield next Fibonacci Number
	while a < limit:
		yield a
		a, b = b, a + b

# Create a generator object
x = fib(5)

# Iterating over the generator object using next
# In Python 3, __next__()
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

# Iterating over the generator object using for
# in loop.
print("\nUsing for in loop")
for i in fib(5):
	print(i)

0
1
1
2
3

Using for in loop
0
1
1
2
3

## Global and Local variables

In [386]:
# This function has a variable with name same as s.
def f():
    # local variable
	s = "Me too."
	print(s)

# Global scope
s = "I love Geeksforgeeks"
f()
print(s)

Me too.
I love Geeksforgeeks

In [387]:
# This function uses global variable s
def f():
	s += 'GFG'
	print("Inside Function", s)


# Global scope
s = "I love Geeksforgeeks"
f()

UnboundLocalError: cannot access local variable 's' where it is not associated with a value

### `global` keyword will provide local variable access to global scope

In [388]:
# This function modifies the global variable 's'
def f():
	global s
	s += ' GFG'
	print(s)
	s = "Look for Geeksforgeeks Python Section"
	print(s)

# Global Scope
s = "Python is great!"
f()
print(s)

Python is great! GFG
Look for Geeksforgeeks Python Section
Look for Geeksforgeeks Python Section

In [389]:
a = 1

# Uses global because there is no local 'a'
def f():
	print('Inside f() : ', a)

# Variable 'a' is redefined as a local
def g():
	a = 2
	print('Inside g() : ', a)

# Uses global keyword to modify global 'a'
def h():
	global a
	a = 3
	print('Inside h() : ', a)


# Global scope
print('global : ', a)
f()
print('global : ', a)
g()
print('global : ', a)
h()
print('global : ', a)

global :  1
Inside f() :  1
global :  1
Inside g() :  2
global :  1
Inside h() :  3
global :  3

In [390]:
x = 15
def change():
	# using a global keyword
	global x

	# increment value of a by 5
	x = x + 5
	print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 20
Value of x outside a function : 20

### modifying the element without using `global`

In [391]:
# this example is using pass by reference concept
arr = [10, 20, 30]


def fun():
	for i in range(len(arr)):
		arr[i] += 10


print("'arr' list before executing fun():", arr)
fun()
print("'arr' list after executing fun():", arr)

'arr' list before executing fun(): [10, 20, 30]
'arr' list after executing fun(): [20, 30, 40]

### modifying the element with `global`

In [392]:
arr = [10, 20, 30]


def fun():
	global arr
	arr = [20, 30, 40]


print("'arr' list before executing fun():", arr)
fun()
print("'arr' list after executing fun():", arr)

'arr' list before executing fun(): [10, 20, 30]
'arr' list after executing fun(): [20, 30, 40]

### `global` in nested function

In [393]:
# Python program showing a use of global in nested function

def add():
	x = 15
	def change():
		global x
		x = 20
	print("Before making changing: ", x)
	print("Making change")
	change()
	print("After making change: ", x)

add()
print("value of x", x)

Before making changing:  15
Making change
After making change:  15
value of x 20

## First Class Objects
python functions are first class objects.

**Properties of first class functions**:
- A function is an instance of the Object type.
- You can store the function in a variable.
- You can pass the function as a parameter to another function.
- You can return the function from a function.
- You can store them in data structures such as hash tables, lists,

### Functions are objects

In [394]:
# Python program to illustrate functions can be treated as objects
def shout(text):
	return text.upper()

print (shout('Hello'))

yell = shout

print (yell('Hello'))

HELLO
HELLO

### Functions can be passed as arguments to other functions

In [397]:
# Python program to illustrate functions can be passed as arguments to other functions
def shout(text):
	return text.upper()

def whisper(text):
	return text.lower()

def greet(func):
	# storing the function in a variable
	greeting = func("""Hi, I am created by a function passed as an argument.""")
	print (greeting)

greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

### Functions can return another function

In [398]:
# Python program to illustrate functions
# Functions can return another function

def create_adder(x):
	def adder(y):
		return x+y

	return adder

add_15 = create_adder(15)

print (add_15(10))

25

### Function call by the reference or we can say `python closures`

In [399]:
# Python program to illustrate closures
def outerFunction(text):

	def innerFunction():
		print(text)

	# Note we are returning function WITHOUT parenthesis
	return innerFunction

if __name__ == '__main__':
	myFunction = outerFunction('Hey!')
	myFunction()

Hey!

In [400]:
# Python program to illustrate closures
import logging
logging.basicConfig(filename='example.log',
					level=logging.INFO)

def logger(func):
	def log_func(*args):
		logging.info(
			'Running "{}" with arguments {}'.format(func.__name__,
													args))
		print(func(*args))

	# Necessary for closure to work (returning WITHOUT parenthesis)
	return log_func

def add(x, y):
	return x+y

def sub(x, y):
	return x-y

add_logger = logger(add)
sub_logger = logger(sub)

add_logger(3, 3)
add_logger(4, 5)

sub_logger(10, 5)
sub_logger(20, 10)


# Result:
"""
~/Documents/Python-Programs/$ python MoreOnClosures.py
Running "add" with arguments
6
9
5
10

~/Documents/Python-Programs/$ cat example.log
INFO:root:Running "add" with arguments (3, 3)
INFO:root:Running "add" with arguments (4, 5)
INFO:root:Running "sub" with arguments (10, 5)
INFO:root:Running "sub" with arguments (20, 10)
"""

6
9
5
10

## Decorators

As stated above the decorators are used to modify the behaviour of function or class. In Decorators, functions are taken as the argument into another function and then called inside the wrapper function.

Syntax for Decorator: 

```python
@gfg_decorator
def hello_decorator():
    print("Gfg")

'''Above code is equivalent to -

def hello_decorator():
    print("Gfg")
    
hello_decorator = gfg_decorator(hello_decorator)'''
```

In [401]:
# defining a decorator
def hello_decorator(func):

	# inner1 is a Wrapper function in  which the argument is called

    # inner function can access the outer local functions like in this case "func"
	def inner1():
		print("Hello, this is before function execution")

		# calling the actual function now inside the wrapper function.
		func()

		print("This is after function execution")

	return inner1


# defining a function, to be called inside wrapper
def function_to_be_used():
	print("This is inside the function !!")


# passing 'function_to_be_used' inside the decorator to control its behaviour
function_to_be_used = hello_decorator(function_to_be_used)


# calling the function
function_to_be_used()

Hello, this is before function execution
This is inside the function !!
This is after function execution

In [402]:
# importing libraries
import time
import math

# decorator to calculate duration taken by any function.
def calculate_time(func):

	# added arguments inside the inner1, if function takes any arguments, can be added like this.
	def inner1(*args, **kwargs):

		# storing time before function execution
		begin = time.time()

		func(*args, **kwargs)

		# storing time after function execution
		end = time.time()
		print("Total time taken in : ", func.__name__, end - begin)

	return inner1



# this can be added to any function present, in this case to calculate a factorial
@calculate_time
def factorial(num):

	# sleep 2 seconds because it takes very less time so that you can see the actual difference
	time.sleep(2)
	print(math.factorial(num))

# calling the function.
factorial(10)

3628800
Total time taken in :  factorial 2.006507396697998

In [403]:
def hello_decorator(func):
	def inner1(*args, **kwargs):

		print("before Execution")

		# getting the returned value
		returned_value = func(*args, **kwargs)
		print("after Execution")

		# returning the value to the original frame
		return returned_value

	return inner1


# adding decorator to the function
@hello_decorator
def sum_two_numbers(a, b):
	print("Inside the function")
	return a + b

a, b = 1, 2

# getting the value through return of the function
print("Sum =", sum_two_numbers(a, b))

before Execution
Inside the function
after Execution
Sum = 3

### Chaining decorators

In [404]:
# code for testing decorator chaining
def decor1(func):
	def inner():
		x = func()
		return x * x
	return inner

def decor(func):
	def inner():
		x = func()
		return 2 * x
	return inner

@decor1
@decor
def num():
	return 10

@decor
@decor1
def num2():
	return 10

print(num())
print(num2())

400
200

### Decorator with parameters

In [ ]:
def decorators(*args, **kwargs):
	def inner(func):
		'''
		do operations with func
		'''
		return func
	return inner #this is the fun_obj mentioned in the above content

@decorators(params)
def func():
	"""
		function implementation
	"""

In [ ]:
# Python code to illustrate
# Decorators with parameters in Python

def decorator_fun(func):
    print("Inside decorator")

    def inner(*args, **kwargs):
        print("Inside inner function")
        print("Decorated the function")

        func()

    return inner


def func_to():
	print("Inside actual function")

# another way of using decorators
decorator_fun(func_to)()

In [ ]:
# Python code to illustrate
# Decorators with parameters in Python

def decorator(*args, **kwargs):
	print("Inside decorator")

	def inner(func):

		# code functionality here
		print("Inside inner function")
		print("I like", kwargs['like'])

		func()

	# returning inner function
	return inner

@decorator(like = "geeksforgeeks")          # This is decorator with parameters examples
def my_func():
	print("Inside actual function")

In [405]:
# Python code to illustrate
# Decorators with parameters in Python

def decorator_func(x, y):

	def Inner(func):

		def wrapper(*args, **kwargs):
			print("I like Geeksforgeeks")
			print("Summation of values - {}".format(x+y) )

			func(*args, **kwargs)

		return wrapper
	return Inner


# Not using decorator
def my_fun(*args):
	for ele in args:
		print(ele)

# another way of using decorators
decorator_func(12, 15)(my_fun)('Geeks', 'for', 'Geeks')

I like Geeksforgeeks
Summation of values - 27
Geeks
for
Geeks

### Multi-level decorator

In [ ]:
# Python code to illustrate Decorators with parameters in Python (Multi-level Decorators)

def decodecorator(dataType, message1, message2):
	def decorator(fun):
		print(message1)
		def wrapper(*args, **kwargs):
			print(message2)
			if all([type(arg) == dataType for arg in args]):
				return fun(*args, **kwargs)
			return "Invalid Input"
		return wrapper
	return decorator


@decodecorator(str, "Decorator for 'stringJoin'", "stringJoin started ...")
def stringJoin(*args):
	st = ''
	for i in args:
		st += i
	return st


@decodecorator(int, "Decorator for 'summation'\n", "summation started ...")
def summation(*args):
	summ = 0
	for arg in args:
		summ += arg
	return summ


print(stringJoin("I ", 'like ', "Geeks", 'for', "geeks"))
print()
print(summation(19, 2, 8, 533, 67, 981, 119))

## Lambda, Filter, Map, Reduce, Accumulate, ZIP functions

### Lambda functions
Syntax: lambda arguments : expression

In [407]:
format_numeric = lambda num: f"{num:e}" if isinstance(num, int) else f"{num:,.2f}"

print("Int formatting:", format_numeric(1000000))
print("float formatting:", format_numeric(999999.789541235))

Int formatting: 1.000000e+06
float formatting: 999,999.79

In [408]:
# Difference between Lambda functions and Normal functions

def cube(y):
	return y*y*y

lambda_cube = lambda y: y*y*y
print("Using function defined with `def` keyword, cube:", cube(5))
print("Using lambda function, cube:", lambda_cube(5))

Using function defined with `def` keyword, cube: 125
Using lambda function, cube: 125

In [409]:
is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
for item in is_even_list:
	print(item())

10
20
30
40

In [410]:
Max = lambda a, b : a if(a > b) else b
print(Max(1, 2))

2

In [411]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]

sortList = lambda x: (sorted(i) for i in x)
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)

print(res)

[3, 16, 9]

In [414]:
# lambda function with filter function
ages = [13, 90, 17, 59, 21, 60, 5]
adults = list(filter(lambda age: age > 18, ages))

print(adults)   # [90, 59, 21, 60]

[<filter object at 0x000001F7E8F28220>]

In [ ]:
# Lambda function with map function
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(map(lambda x: x*2, li))
print(final_list)       # [10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [ ]:
# lambda functiion with map function
animals = ['dog', 'cat', 'parrot', 'rabbit']
uppered_animals = list(map(lambda animal: animal.upper(), animals))

print(uppered_animals)      # ['DOG', 'CAT', 'PARROT', 'RABBIT']

In [415]:
# lambda function with reduce function
from functools import reduce

li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print(sum)  # 193

193

In [ ]:
import functools
lis = [1, 3, 5, 6, 2, ]
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))    # The maximum element of the list is : 6

### Filter function
Syntax: filter(function, sequence)
- function: function that tests if each element of a sequence is true or not.
- sequence: sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

In [416]:
# filter function with custom function

# function that filters vowels
def fun(variable):
	letters = ['a', 'e', 'i', 'o', 'u']
	if (variable in letters):
		return True
	else:
		return False


# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

# using filter function
filtered = filter(fun, sequence)

print('The filtered letters are:')
for s in filtered:
	print(s)

# Result:
# The filtered letters are:
# e
# e

The filtered letters are:
e
e

In [ ]:
# Filter function with lambda function
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

# Result
# [1, 3, 5, 13]
# [0, 2, 8]

In [ ]:
# Filter function with lambda function and with custom function
# Define a function to check if a number is a multiple of 3
def is_multiple_of_3(num):
	return num % 3 == 0


# Create a list of numbers to filter
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter and a lambda function to filter the list of numbers and only keep the ones that are multiples of 3
result = list(filter(lambda x: is_multiple_of_3(x), numbers))

# Print the result
print(result)       # [3, 6, 9]

In [ ]:
# Using filter and lambda
for response in filter(lambda response: isinstance(response, EmailResponse), responses):
    self.send_email(response)

### Map function
Syntax: map(fun, iter)
- fun: It is a function to which map passes each element of given iterable.
- iter: It is iterable which is to be mapped.

In [ ]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
	return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result)) # [2, 4, 6, 8]

In [ ]:
# map function with lambda expression

# Double all numbers using map and lambda
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))     # [2, 4, 6, 8]

In [ ]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))     # [5, 7, 9]

In [ ]:
# modify string using map function
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)     # [['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [ ]:
# if statement with map function
# Define a function that doubles even numbers and leaves odd numbers as is
def double_even(num):
	if num % 2 == 0:
		return num * 2
	else:
		return num

# Create a list of numbers to apply the function to
numbers = [1, 2, 3, 4, 5]

# Use map to apply the function to each element in the list
result = list(map(double_even, numbers))

# Print the result
print(result) # [1, 4, 3, 8, 5]

### Reduce function
reduce(fun, seq)
- function: function that tests if each element of a sequence is true or not.
- sequence: sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

In [420]:
# python code to demonstrate working of reduce()

# importing functools for reduce()
import functools

# initializing list
lis = [1, 3, 5, 6, 2]

# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

In [421]:
# reduce() using operator functions
# operator function to achieve the similar functionality as with lambda functions and makes the code more readable.

# importing functools for reduce()
import functools

# importing operator for operator functions
import operator

# initializing list
lis = [1, 3, 5, 6, 2]

# using reduce to compute sum of list
# using operator functions
print("The sum of the list elements is : ", end="")
print(functools.reduce(operator.add, lis))

# using reduce to compute product
# using operator functions
print("The product of list elements is : ", end="")
print(functools.reduce(operator.mul, lis))

# using reduce to concatenate string
print("The concatenated product is : ", end="")
print(functools.reduce(operator.add, ["geeks", "for", "geeks"]))

The sum of the list elements is : 17
The product of list elements is : 180
The concatenated product is : geeksforgeeks

In [ ]:
# Reduce function with three parameters
# Python program to illustrate sum of two numbers.
def reduce(function, iterable, initializer=None):
	it = iter(iterable)
	if initializer is None:
		value = next(it)
	else:
		value = initializer
	for element in it:
		value = function(value, element)
	return value

# Note that the initializer, when not None, is used as the first value instead of the first value from iterable , and after the whole iterable.
tup = (2,1,0,2,2,0,0,2)
print(reduce(lambda x, y: x+y, tup,6))  # 15

### Accumulate function
reduce() vs accumulate() 

- Both reduce() and accumulate() can be used to calculate the summation of a sequence elements. But there are differences in the implementation aspects in both of these.  
- reduce() is defined in functools module, accumulate() in itertools module.
- reduce() stores the intermediate result and only returns the final summation value. Whereas, accumulate() returns a iterator containing the intermediate results. The last number of the iterator returned is summation value of the list.
- reduce(fun, seq) takes function as 1st and sequence as 2nd argument. In contrast accumulate(seq, fun) takes sequence as 1st argument and function as 2nd argument.

In [ ]:
# python code to demonstrate summation
# using reduce() and accumulate()

# importing itertools for accumulate()
import itertools

# importing functools for reduce()
import functools

# initializing list
lis = [1, 3, 4, 10, 4]

# printing summation using accumulate()
print("The summation of list using accumulate is :", end="")
print(list(itertools.accumulate(lis, lambda x, y: x+y)))

# printing summation using reduce()
print("The summation of list using reduce is :", end="")
print(functools.reduce(lambda x, y: x+y, lis))

# Result
# The summation of list using accumulate is :[1, 4, 8, 18, 22]
# The summation of list using reduce is :22

### Zip function
Syntax :  zip(*iterators)
- Parameters : Python iterables or containers ( list, string etc )
- Return Value : Returns a single iterator object.

In [423]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]

# using zip() to map values
mapped = zip(name, roll_no)

print(set(mapped))

{('Astha', 2), ('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3)}

In [424]:
# zip function with enumerate
names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
	print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

In [425]:
# zip function with dictionary
stocks = ['GEEKS', 'For', 'geeks']
prices = [2175, 1127, 2750]

new_dict = {stocks: prices for stocks,
			prices in zip(stocks, prices)}
print(new_dict)

{'GEEKS': 2175, 'For': 1127, 'geeks': 2750}

In [ ]:
# zip with tuple
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
zipped = zip(tuple1, tuple2)
result = list(zipped)
print(result)       # [(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
# zip with multiple iterables
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']
zipped = zip(list1, list2, list3)
result = list(zipped)
print(result)       # [(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [ ]:
# zip with unequal size
# Define lists for 'persons', 'genders', and a tuple for 'ages'
persons = ["Chandler", "Monica", "Ross", "Rachel", "Joey", "Phoebe", "Joanna"]
genders = ["Male", "Female", "Male", "Female", "Male", "Female", "Female"]
ages = (35, 36, 38, 34)

# Create a zipped object combining the 'persons' and 'genders'
#lists along with the 'ages' tuple
zipped_result = zip(persons, genders, ages)

# Print the zipped object
print("Zipped result as a list:")
for i in list(zipped_result):
print(i)

# result:
# Zipped result as a list:
# ('Chandler', 'Male', 35)
# ('Monica', 'Female', 36)
# ('Ross', 'Male', 38)
# ('Rachel', 'Female', 34)

In [ ]:
# unzipping using zip
# initializing lists
name = ["Manjeet", "Nikhil", "Shambhavi", "Astha"]
roll_no = [4, 1, 3, 2]
marks = [40, 50, 60, 70]

# using zip() to map values
mapped = zip(name, roll_no, marks)

# converting values to print as list
mapped = list(mapped)

# printing resultant values
print("The zipped result is : ", end="")
print(mapped)

print("\n")

# unzipping values
namz, roll_noz, marksz = zip(*mapped)

print("The unzipped result: \n", end="")

# printing initial lists
print("The name list is : ", end="")
print(namz)

print("The roll_no list is : ", end="")
print(roll_noz)

print("The marks list is : ", end="")
print(marksz)

# Result:
# The zipped result is : [('Manjeet', 4, 40), ('Nikhil', 1, 50),
# ('Shambhavi', 3, 60), ('Astha', 2, 70)]
# The unzipped result:
# The name list is : ('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')
# The roll_no list is : (4, 1, 3, 2)
# The marks list is : (40, 50, 60, 70)

In [426]:
# zip with python loops
# initializing list of players.
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]

# initializing their scores
scores = [100, 15, 17, 28, 43]

# printing players and scores.
for pl, sc in zip(players, scores):
	print("Player : %s	 Score : %d" % (pl, sc))

Player : Sachin	 Score : 100
Player : Sehwag	 Score : 15
Player : Gambhir	 Score : 17
Player : Dravid	 Score : 28
Player : Raina	 Score : 43

## Iter, Next, Range, Min, Max functions

### iter function
Syntax : iter(obj, sentinel)
- obj : Object which has to be converted to iterable ( usually an iterator ).
- sentinel : value used to represent end of sequence.

In [ ]:
# Python3 code to demonstrate
# working of iter()

# initializing list
lis1 = [1, 2, 3, 4, 5]

# printing type
print("The list is of type : " + str(type(lis1)))

# converting list using iter()
lis1 = iter(lis1)

# printing type
print("The iterator is of type : " + str(type(lis1)))

# using next() to print iterator values
print(next(lis1))
print(next(lis1))
print(next(lis1))
print(next(lis1))
print(next(lis1))

# Result:
# The list is of type : <class 'list'>
# The iterator is of type : <class 'list_iterator'>
# 1
# 2
# 3
# 4
# 5

### next function
Syntax : next(iter, stopdef)

- iter : The iterator over which iteration is to be performed.
- stopdef : Default value to be printed if we reach end of iterator.

In [427]:
l = [1, 2, 3]
l_iter = iter(l)
print(next(l_iter))

1

In [ ]:
# Sample dictionary with a 'source' key containing a list
result_with_source = {'source': [10, 20, 30, 40, 50]}

# Retrieve the first item from 'source' or return None if it's empty
first_item = next(iter(result_with_source.get('source') or []), None)

# Print the first item
print("First Item:", first_item)  # Output: First Item: 10

# Sample dictionary with an empty 'source' key
result_empty_source = {'source': []}

# Retrieve the first item from 'source' or return None if it's empty
first_item_empty = next(iter(result_empty_source.get('source') or []), None)

# Print the first item (which is None in this case)
print("First Item from Empty Source:", first_item_empty)  # Output: First Item from Empty Source: None

# Sample dictionary without a 'source' key
result_no_source = {'data': [100, 200, 300]}

# Retrieve the first item from 'source' or return None if it's not present
first_item_no_source = next(iter(result_no_source.get('source') or []), None)

# Print the first item (which is None in this case)
print("First Item from No Source:", first_item_no_source)  # Output: First Item from No Source: None

In [ ]:
# Create an iterable (list in this case)
my_list = [10, 20, 30, 40, 50]

# Create an iterator from the iterable
my_iterator = iter(my_list)

# Fetch the first item
first_element = next(my_iterator)
print("First Element:", first_element)

# Fetch the second item
second_element = next(my_iterator)
print("Second Element:", second_element)

# Fetch the third item
third_element = next(my_iterator)
print("Third Element:", third_element)

In [428]:
# define a list
l = [1, 2, 3]
# create list_iterator
l_iter = iter(l)

while True:
	# item will be "end" if iteration is complete
	item = next(l_iter, "end")
	if item == "end":
		break
	print(item)

1
2
3

In [429]:
list1 = [1, 2, 3, 4, 5]

# converting list to iterator
l_iter = iter(list1)

print("First item in List:", next(l_iter))
print("Second item in List:", next(l_iter))

First item in List: 1
Second item in List: 2

In [430]:
list1 = [1]

# converting list to iterator
list_iter = iter(list1)

print(next(list_iter))
print(next(list_iter, "No more element"))

1
No more element

### range function
Syntax : range(start, stop, step)
- start : Element from which sequence constructed has to start. (default:0) 
- stop : Element number at which numbers in sequence have to end (exclusive). 
- step : Can be +ve or -ve number, denoting the elements need to be skipped during filling of list. (default:1)

In [ ]:
# Python3 code to demonstrate the working of range() without step

# using range()
lis1 = list(range(6))
lis2 = list(range(3, 6))
lis3 = list(range(-6, 2))

# initializing list using range, 1 parameter only stop parameter
print("List generated using 1 parameter : " + str(lis1))

# initializing list using range, 2 parameters only step and stop parameters
print("List generated using 2 parameters : " + str(lis2))

# initializing list using range, 2 parameter only step and stop parameters
print("List generated using 2 parameters with negatives : " + str(lis3))

# Result:
# List generated using 1 parameter : [0, 1, 2, 3, 4, 5]
# List generated using 2 parameters : [3, 4, 5]
# List generated using 2 parameters with negatives : [-6, -5, -4, -3, -2, -1, 0, 1]

In [ ]:
# Python 3 code to demonstrate the working of range() with step

# initializing list using range using step
print("List generated using step : " + str(list(range(3, 10, 2))))

# initializing list using range using negative step
print("List generated using negative step : " + str(list(range(10, -5, -3))))

# initializing list using range using negative step, value constraints fail case
print("List generated using step, value constraints fail : " + str(list(range(10, -5, 3))))

# initializing list using range using 0 step error
print("List generated using 0 step : " + str(list(range(3, 7, 0))))

# Result:
# List generated using step : [3, 5, 7, 9]
# List generated using negative step : [10, 7, 4, 1, -2]
# List generated using step, value constraints fail : []

## Dunder methods

Object Creation and Destruction
- __init__(self, ...): Constructor, called when a new instance is created.
- __new__(cls, ...): Called to create a new instance of the class.
- __del__(self): Destructor, called when an instance is about to be destroyed.

Representation
- __repr__(self): Official string representation of an object.
- __str__(self): Informal or nicely printable string representation of an object.

Comparison and Equality
- __eq__(self, other): Defines behavior for the equality operator ==.
- __ne__(self, other): Defines behavior for the inequality operator !=.
- __lt__(self, other): Defines behavior for the less-than operator <.
- __gt__(self, other): Defines behavior for the greater-than operator >.
- __le__(self, other): Defines behavior for the less-than-or-equal-to operator <=.
- __ge__(self, other): Defines behavior for the greater-than-or-equal-to operator >=.

Arithmetic Operators
- __add__(self, other): Addition +.
- __sub__(self, other): Subtraction -.
- __mul__(self, other): Multiplication *.
- __truediv__(self, other): Division /.
- __floordiv__(self, other): Floor Division //.
- __mod__(self, other): Modulus %.
- __pow__(self, other[, modulo]): Power **.
- __neg__(self): Negation -.
- __pos__(self): Unary plus +.

Type Conversion
- __int__(self): Conversion to integer.
- __float__(self): Conversion to float.
- __complex__(self): Conversion to complex.
- __bool__(self): Conversion to boolean.

Container Types
- __len__(self): The length of the container.
- __getitem__(self, key): Accessing an item using indexing.
- __setitem__(self, key, value): Assigning to an item using indexing.
- __delitem__(self, key): Deleting an item using indexing.
- __iter__(self): Returning an iterator from the object.
- __contains__(self, item): Check for containment using in.

Attribute Access
- __getattr__(self, name): Defines behavior when an attribute is accessed.
- __setattr__(self, name, value): Defines behavior when an attribute is assigned.
- __delattr__(self, name): Defines behavior when an attribute is deleted.

Callable Objects
- __call__(self, ...): Allows an instance of the class to be called as a function.

Context Managers
- __enter__(self): Entering a with block.
- __exit__(self, exc_type, exc_value, traceback): Exiting a with block.

### Magic methods

In [432]:
class EquivalenceClass(object):
	def __eq__(self, other):
		return type(self) == type(other)

print(EquivalenceClass() == EquivalenceClass())
print(EquivalenceClass() == 'MyClass')

True
False

### Creation or Construction magic methods
__init__

In [433]:
# Constructor
class InitClass(object):
	def __init__(self):
		print('Executing the __init__ method.')

ic = InitClass()

Executing the __init__ method.

In [434]:
class Square(object):
	def __init__(self, number = 2):
		self._number = number

	def square(self):
		return self._number**2

s = Square()
print('Number: % i' % s._number)
print('Square: % i' % s.square())

Number:  2
Square:  4

__new__

In [435]:
class Students(object):
	def __init__(self, idNo, grade):
		self._idNo = idNo
		self._grade = grade

	def __new__(cls, idNo, grade):
		print("Creating Instance")
		instance = super(Students, cls).__new__(cls)
		if 5 <= grade <= 10:
			return instance
		else:
			return None

	def __str__(self):
		return '{0}({1})'.format(self.__class__.__name__, self.__dict__)


stud1 = Students(1, 7)
print(stud1)

stud2 = Students(2, 12)
print(stud2)

Creating Instance
Students({'_idNo': 1, '_grade': 7})
Creating Instance
None

### Destruction magic methods
__del__

In [436]:
class MyClass(object):
	def __del__(self):
		print('Destroyed')

MyClass()
'Immutable String - not assigned to a variable'

Destroyed

'Immutable String - not assigned to a variable'

### Type conversion magic method
__str__

In [437]:
class MyString(object):
	def __str__(self):
		return 'My String !'

print(str(MyString()))

My String !

In [438]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __str__(self):
        return f"Point({self.x}, {self.y})"

# Usage
p = Point(3, 4)
print(p)  # Output: Point(3, 4)

Point(3, 4)

In [439]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Person(name: {self.name}, age: {self.age})"

# Usage
person = Person("Alice", 30)
print(person)  # Output: Person(name: Alice, age: 30)

Person(name: Alice, age: 30)

In [440]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def __str__(self):
        return f"'{self.title}' by {self.author}"

# Usage
book = Book("1984", "George Orwell")
print(book)  # Output: '1984' by George Orwell

'1984' by George Orwell

### Type conversion magic method
__int__

In [441]:
class Money:
    def __init__(self, dollars, cents):
        self.dollars = dollars
        self.cents = cents

    def __int__(self):
        return self.dollars * 100 + self.cents

# Usage
wallet = Money(10, 75)
print(int(wallet))  # Output: 1075 (cents)

1075

In [442]:
class Time:
    def __init__(self, hours, minutes):
        self.hours = hours
        self.minutes = minutes

    def __int__(self):
        return self.hours * 60 + self.minutes

# Usage
meeting_time = Time(2, 30)
print(int(meeting_time))  # Output: 150 (minutes)

150

In [443]:
class Coordinate:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __int__(self):
        return abs(self.x) + abs(self.y)

# Usage
point = Coordinate(-3, 4)
print(int(point))  # Output: 7 (Manhattan distance)

7

### Type conversion magic method
__float__

In [444]:
class Temperature:
    def __init__(self, celsius):
        self.celsius = celsius

    def __float__(self):
        return float(self.celsius)

# Usage
temp = Temperature(36.6)
print(float(temp))  # Output: 36.6

36.6

In [445]:
class Probability:
    def __init__(self, value):
        self.value = value  # value should be between 0 and 1

    def __float__(self):
        return float(self.value)

# Usage
event_probability = Probability(0.85)
print(float(event_probability))  # Output: 0.85

0.85

In [446]:
class Fraction:
    def __init__(self, numerator, denominator):
        self.numerator = numerator
        self.denominator = denominator

    def __float__(self):
        return self.numerator / self.denominator

# Usage
fraction = Fraction(3, 4)
print(float(fraction))  # Output: 0.75

0.75

### Type conversion magic method
__bool__

In [447]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def __bool__(self):
        return self.balance > 0

# Usage
account = BankAccount(100)
if account:
    print("Account is in good standing.")
else:
    print("Account is overdrawn or empty.")

Account is in good standing.

In [448]:
class Group:
    def __init__(self, members):
        self.members = members

    def __bool__(self):
        return len(self.members) > 0

# Usage
family = Group(["Alice", "Bob"])
if family:
    print("The group is not empty.")
else:
    print("The group is empty.")

The group is not empty.

In [449]:
class CustomString:
    def __init__(self, text):
        self.text = text

    def __bool__(self):
        return bool(self.text)  # or simply: return len(self.text) > 0

# Usage
my_string = CustomString("Hello")
if my_string:
    print("String is not empty.")
else:
    print("String is empty.")

String is not empty.

### Type conversion magic method
__complex__

In [450]:
class ElectricalImpedance:
    def __init__(self, resistance, reactance):
        self.resistance = resistance  # Real part
        self.reactance = reactance    # Imaginary part

    def __complex__(self):
        return complex(self.resistance, self.reactance)

# Usage
impedance = ElectricalImpedance(50, 30)
complex_impedance = complex(impedance)
print(complex_impedance)  # Output: (50+30j)

(50+30j)

### Callable Object magic method
__call__

In [451]:
class Logger:
    def __init__(self, prefix):
        self.prefix = prefix

    def __call__(self, message):
        print(f"{self.prefix}: {message}")

# Usage
logger = Logger("INFO")
logger("This is a log message.")  # Output: INFO: This is a log message.

INFO: This is a log message.

In [452]:
class Counter:
    def __init__(self):
        self.count = 0

    def __call__(self):
        self.count += 1
        return self.count

# Usage
counter = Counter()
print(counter())  # Output: 1
print(counter())  # Output: 2

1
2

In [453]:
class Multiplier:
    def __init__(self, factor):
        self.factor = factor

    def __call__(self, x):
        return x * self.factor

# Usage
double = Multiplier(2)
triple = Multiplier(3)

print(double(5))  # Output: 10
print(triple(5))  # Output: 15

10
15

### Context Manager magic methods
__enter__ /
__exit__

In [454]:
class FileHandler:
    def __init__(self, filename, mode):
        self.filename = filename
        self.mode = mode
        self.file = None

    def __enter__(self):
        self.file = open(self.filename, self.mode)
        return self.file

    def __exit__(self, exc_type, exc_value, traceback):
        if self.file:
            self.file.close()

# Usage
with FileHandler('example.txt', 'w') as f:
    f.write('Hello, world!')

# The file is automatically closed after the with block

### Attribute access
__getattr__

In [455]:
class DynamicAttributes:
    def __init__(self):
        self.existing_attribute = "I exist!"

    def __getattr__(self, name):
        return f"Attribute '{name}' not found, default value assigned!"

# Usage
obj = DynamicAttributes()
print(obj.existing_attribute)  # Regular attribute access
print(obj.some_random_attribute)  # Triggers __getattr__

I exist!
Attribute 'some_random_attribute' not found, default value assigned!

### Attribute access
__setattr__

In [456]:
class ProtectedAttributes:
    def __setattr__(self, name, value):
        if name == "read_only_attribute":
            raise AttributeError(f"{name} is read-only!")
        else:
            super().__setattr__(name, value)

# Usage
obj = ProtectedAttributes()
obj.new_attribute = "New value"  # Works normally
# obj.read_only_attribute = "Trying to change"  # Raises AttributeError

### Attribute access
__delattr__

In [457]:
class SafeDeletion:
    def __init__(self):
        self.important_attr = "This should not be deleted"

    def __delattr__(self, name):
        if name == "important_attr":
            print("Deletion of important_attr is not allowed")
        else:
            super().__delattr__(name)

# Usage
obj = SafeDeletion()
del obj.important_attr  # Attempt to delete an important attribute

Deletion of important_attr is not allowed

### Container Types
__len__ / __getitem__ : These methods allow an object to behave like a sequence (such as a list or tuple).

In [458]:
class CustomList:
    def __init__(self, initial_data):
        self.data = initial_data

    def __len__(self):
        return len(self.data)

    def __getitem__(self, key):
        return self.data[key]

# Usage
my_list = CustomList([1, 2, 3, 4])
print(len(my_list))  # Output: 4
print(my_list[2])    # Output: 3

4
3

### Container Types
__setitem__ / __delitem__ : These methods are used to set and delete items in a mutable container.

In [ ]:
class CustomDict:
    def __init__(self):
        self.data = {}

    def __setitem__(self, key, value):
        self.data[key] = value

    def __delitem__(self, key):
        del self.data[key]

    def __getitem__(self, key):
        return self.data[key]

# Usage
my_dict = CustomDict()
my_dict['key1'] = 'value1'
print(my_dict['key1'])  # Output: 'value1'
del my_dict['key1']     # Deletes 'key1'

### Container types
__contains__ : This method is used to implement membership tests using in and not in.

In [ ]:
class CustomSet:
    def __init__(self, elements):
        self.set_elements = set(elements)

    def __contains__(self, element):
        return element in self.set_elements

# Usage
my_set = CustomSet([1, 2, 3, 4])
print(2 in my_set)   # Output: True
print(5 in my_set)   # Output: False

### Container types
__iter__ : This method returns an iterator for the container.

In [459]:
class CustomRange:
    def __init__(self, start, end):
        self.start = start
        self.end = end

    def __iter__(self):
        return iter(range(self.start, self.end))

# Usage
my_range = CustomRange(1, 5)
for num in my_range:
    print(num)  # Prints numbers from 1 to 4

1
2
3
4

### Arithmetic Operation
__add__

In [460]:
class ComplexNumber:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

    def __add__(self, other):
        return ComplexNumber(self.real + other.real, self.imag + other.imag)

    def __str__(self):
        return f"{self.real} + {self.imag}i"

# Usage
c1 = ComplexNumber(1, 2)
c2 = ComplexNumber(3, 4)
result = c1 + c2
print(result)  # Output: 4 + 6i

4 + 6i

### Arithmetic Operation
__sub__

In [461]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __sub__(self, other):
        return Point(self.x - other.x, self.y - other.y)

    def __str__(self):
        return f"Point({self.x}, {self.y})"

# Usage
p1 = Point(5, 4)
p2 = Point(2, 2)
result = p1 - p2
print(result)  # Output: Point(3, 2)

Point(3, 2)

### Arithmetic Operations
__mul__

In [462]:
class Vector:
    def __init__(self, elements):
        self.elements = elements

    def __mul__(self, scalar):
        return Vector([x * scalar for x in self.elements])

    def __str__(self):
        return str(self.elements)

# Usage
v = Vector([1, 2, 3])
result = v * 3
print(result)  # Output: [3, 6, 9]

[3, 6, 9]

### Arithmetic Operation
__truediv__

In [463]:
class Fraction:
    def __init__(self, numerator, denominator):
        self.numerator = numerator
        self.denominator = denominator

    def __truediv__(self, other):
        return Fraction(self.numerator * other.denominator, self.denominator * other.numerator)

    def __str__(self):
        return f"{self.numerator}/{self.denominator}"

# Usage
f1 = Fraction(1, 2)
f2 = Fraction(3, 4)
result = f1 / f2
print(result)  # Output: 4/6

4/6

### Arithmetic Operation
__mod__

In [464]:
class ModuloNumber:
    def __init__(self, value, modulus):
        self.value = value
        self.modulus = modulus

    def __mod__(self, other):
        return ModuloNumber(self.value % other.value, self.modulus)

    def __str__(self):
        return f"Value: {self.value}, Modulus: {self.modulus}"

# Usage
num1 = ModuloNumber(10, 3)
num2 = ModuloNumber(6, 3)
result = num1 % num2
print(result)  # Output: Value: 4, Modulus: 3

Value: 4, Modulus: 3

### Comparision and Equality
__eq__ / __ne__

In [465]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def __eq__(self, other):
        return self.title == other.title and self.author == other.author

    def __ne__(self, other):
        return not self.__eq__(other)

# Usage
book1 = Book("1984", "George Orwell")
book2 = Book("1984", "George Orwell")
book3 = Book("Animal Farm", "George Orwell")

print(book1 == book2)  # True
print(book1 == book3)  # False
print(book1 != book3)  # True

True
False
True

### Comparision and Equality
__lt__ / __gt__

In [466]:
class Age:
    def __init__(self, years):
        self.years = years

    def __lt__(self, other):
        return self.years < other.years

    def __gt__(self, other):
        return self.years > other.years

# Usage
age1 = Age(25)
age2 = Age(30)

print(age1 < age2)  # True
print(age1 > age2)  # False

True
False

### Comparision and Equality
__le__ / __ge__

In [467]:
class Score:
    def __init__(self, value):
        self.value = value

    def __le__(self, other):
        return self.value <= other.value

    def __ge__(self, other):
        return self.value >= other.value

# Usage
score1 = Score(75)
score2 = Score(80)

print(score1 <= score2)  # True
print(score1 >= score2)  # False

True
False

### Representation magic method
__repr__

In [468]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __repr__(self):
        return f"Point({self.x}, {self.y})"

# Usage
p = Point(3, 4)
print(repr(p))  # Output: Point(3, 4)

Point(3, 4)

## Memoization vs lru_cache (Least Recently Used Cache)
lru_cache function is from functools module

Memoization and lru_cache are both techniques used in programming to optimize performance, particularly in reducing the computational cost of expensive function calls.

- Implementation: Memoization requires manual implementation (caching logic), while lru_cache is a ready-to-use decorator.
- Cache Eviction Policy: With manual memoization, you manage cache eviction (if at all), whereas lru_cache automatically handles cache eviction based on the LRU strategy.
- Ease of Use: lru_cache is easier to use for basic caching needs, as it's a built-in feature and requires minimal code changes.

In [ ]:
# Factorial program with memoization using
# decorators.

# A decorator function for function 'f' passed
# as parameter
memory = {}
def memoize_factorial(f):

	# This inner function has access to memory
	# and 'f'
	def inner(num):
		if num not in memory:
			memory[num] = f(num)
			print('result saved in memory')
		else:
			print('returning result from saved memory')
		return memory[num]

	return inner

@memoize_factorial
def facto(num):
	if num == 1:
		return 1
	else:
		return num * facto(num-1)

print(facto(5))
print(facto(5)) # directly coming from saved memory

## From functools module

### partial function

In [469]:
from functools import partial

def multiply(x, y):
    return x * y

# Create a partial function that always multiplies by 2
double = partial(multiply, 2)

# Usage
print(double(4))  # Output: 8
print(double(5))  # Output: 10

8
10

In [470]:
# Partial functions can also be useful for setting default values for keyword arguments.

def greet(name, greeting="Hello"):
    return f"{greeting}, {name}!"

# Create a partial function for a specific greeting
say_hi = partial(greet, greeting="Hi")
say_hello = partial(greet, greeting="Hello")

# Usage
print(say_hi(name="Alice"))    # Output: Hi, Alice!
print(say_hello(name="Bob"))  # Output: Hello, Bob!

Hi, Alice!
Hello, Bob!

### reduce function
It applies a function of two arguments cumulatively to the items of a sequence, from left to right, so as to reduce the sequence to a single value.

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)  # Sum of all elements in numbers
print(total)  # Output: 15

### lru_cache() decorator function
This decorator provides a simple memoization cache for functions. It's useful for expensive computational tasks which are called repeatedly with the same arguments.

In [471]:
from functools import lru_cache

@lru_cache(maxsize=32)  # Cache up to 32 calls
def fibonacci(n):
    if n < 2:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(10))  # Output: 55

55

In [ ]:
# Caching result for I/O bound functions
from functools import lru_cache
import requests

@lru_cache(maxsize=50)
def get_weather_data(city):
    # Assume this function makes an API call to fetch weather data
    response = requests.get(f"http://api.weatherapi.com/v1/current.json?key=YOUR_API_KEY&q={city}")
    return response.json()

# Usage
weather_data = get_weather_data('New York')  # API call
weather_data_cached = get_weather_data('New York')  # Returns cached data

In [ ]:
# Caching method calls in class
from functools import lru_cache

class Calculator:
    def __init__(self, base):
        self.base = base

    @lru_cache(maxsize=32)
    def complex_calculation(self, x):
        # Some expensive calculation based on self.base and x
        return x ** self.base + x ** 0.5

# Usage
calc = Calculator(10)
print(calc.complex_calculation(5))  # Expensive calculation
print(calc.complex_calculation(5))  # Cached result

### total_ordering decorator function
This class decorator automatically supplies missing comparison methods, given that at least one of __lt__, __le__, __gt__, or __ge__ is defined, along with __eq__

In [ ]:
from functools import total_ordering

@total_ordering
class Number:
    def __init__(self, value):
        self.value = value

    def __eq__(self, other):
        return self.value == other.value

    def __lt__(self, other):
        return self.value < other.value

# Now, Number has all comparison methods

### wraps() decorator function
Used in defining decorator functions, this helps to preserve the metadata of the original function, such as the docstring, name, annotations, etc.

In [472]:
from functools import wraps

def my_decorator(f):
    @wraps(f)
    def wrapper(*args, **kwargs):
        print('Calling decorated function')
        return f(*args, **kwargs)
    return wrapper

@my_decorator
def example():
    """Docstring"""
    print('Called example function')

print(example.__name__)  # Output: example
print(example.__doc__)   # Output: Docstring

example
Docstring

### singledispatch function
This decorator transforms a function into a generic function, allowing it to have different behaviors based upon the type of its first argument.

In [473]:
from functools import singledispatch

@singledispatch
def func(arg):
    print("default")

@func.register(int)
def _(arg):
    print("called for integers")

func(1)  # Output: called for integers
func("string")  # Output: default

called for integers
default

## Functions that return multiple values

In [ ]:
def calculate_stats(numbers):
    mean = sum(numbers) / len(numbers)
    variance = sum((x - mean) ** 2 for x in numbers) / len(numbers)
    standard_deviation = variance ** 0.5
    return mean, standard_deviation

# Usage
numbers = [1, 2, 3, 4, 5]
mean, std_dev = calculate_stats(numbers)
print(f"Mean: {mean}, Standard Deviation: {std_dev}")

In [ ]:
def get_user_info(user_id):
    # Assume we retrieve user information from a database or some source
    # For this example, the data is hardcoded
    name = "John Doe"
    age = 30
    email = "johndoe@example.com"

    # Return multiple values
    return name, age, email

# Usage
user_id = 123
name, age, email = get_user_info(user_id)

print(f"Name: {name}, Age: {age}, Email: {email}")

## Async functions

- **Concurrent API Requests**: This pattern is common in services that need to aggregate data from multiple sources, like microservices architectures or data analysis applications.
- **Efficiency**: Asynchronous I/O allows your program to make better use of network resources, fetching data from multiple sources in parallel without blocking the execution of your program.
- **Scalability**: This approach scales well with the number of requests, as it doesn't create a new thread for each task, unlike traditional multi-threading approaches.
- **Performance**: The async example performs multiple network requests concurrently, making it much faster for I/O-bound tasks like network requests, especially when dealing with multiple requests.
- **Blocking vs Non-blocking**: In the synchronous example, each HTTP request blocks the program's execution until it is completed. In contrast, the async example allows other tasks to run while waiting for HTTP responses, making efficient use of time and resources.

In [ ]:
# basic async example
# !pip install asyncio
import asyncio

async def hello_world():
    print("Hello")
    await asyncio.sleep(1)
    print("World")

# Running the async function
asyncio.run(hello_world())

In [ ]:
# Example code with multiple coroutines
import asyncio

async def count():
    print("One")
    await asyncio.sleep(1)
    print("Two")

async def main():
    await asyncio.gather(
        count(),
        count(),
        count()
    )

# Running the main async function
asyncio.run(main())

In [ ]:
# Real-world example: Fetching data asynchronously
import asyncio
import aiohttp

async def fetch(url):
    async with aiohttp.ClientSession() as session:
        async with session.get(url) as response:
            print(f"Response from {url}: {response.status}")
            return await response.text()

async def main():
    urls = [
        "http://example.com",
        "http://example.org",
        "http://example.net"
    ]
    await asyncio.gather(*(fetch(url) for url in urls))

# Running the main async function
asyncio.run(main())

In [ ]:
# Another real-world example:
"""In this script, get_multiple_data creates a list of tasks,
 where each task is a coroutine that fetches data from one of the URLs.
  asyncio.gather then runs these tasks concurrently.
   Finally, main collects and prints the results."""

import asyncio
import aiohttp

async def fetch_data(session, url):
    async with session.get(url) as response:
        data = await response.json()
        return data

async def get_multiple_data(urls):
    async with aiohttp.ClientSession() as session:
        tasks = [fetch_data(session, url) for url in urls]
        results = await asyncio.gather(*tasks)
        return results

async def main():
    urls = [
        "https://jsonplaceholder.typicode.com/posts",
        "https://jsonplaceholder.typicode.com/comments",
        "https://jsonplaceholder.typicode.com/albums"
    ]
    results = await get_multiple_data(urls)
    for result in results:
        print(result[:1])  # Print the first item of each result for brevity

# Run the main function
asyncio.run(main())

In [ ]:
# Example with async feature
import asyncio
import aiohttp

# Async function to fetch data from a single URL
async def fetch_data(session, url):
    async with session.get(url) as response:
        return await response.text()

# Async function to handle multiple requests concurrently
async def get_multiple_data(urls):
    async with aiohttp.ClientSession() as session:
        tasks = [fetch_data(session, url) for url in urls]
        return await asyncio.gather(*tasks)

# Main async function
async def main():
    urls = ["http://example.com", "http://example.org", "http://example.net"]
    results = await get_multiple_data(urls)
    for result in results:
        print(result[:100])  # Print a snippet of each result

# Run the main function
asyncio.run(main())

In [ ]:
# Example without async feature, uses requests library for http request
import requests

# Function to fetch data from a single URL
def fetch_data(url):
    response = requests.get(url)
    return response.text

# Function to handle multiple requests sequentially
def get_multiple_data(urls):
    results = []
    for url in urls:
        results.append(fetch_data(url))
    return results

# Main function
def main():
    urls = ["http://example.com", "http://example.org", "http://example.net"]
    results = get_multiple_data(urls)
    for result in results:
        print(result[:100])  # Print a snippet of each result

# Run the main function
main()

## Accessibility

### Public vs Private

In [ ]:
class MyCounter:
    def __init__(self):
        self.public_count = 0  # Public attribute
        self._private_count = 0  # Non-public attribute (intended for internal use)

    def increment(self):
        self.public_count += 1
        self._private_count += 1

    def get_private_count(self):
        return self._private_count

# Using the class
counter = MyCounter()
counter.increment()
print(counter.public_count)  # Accessible and intended for use
print(counter.get_private_count())  # Accessible through a method

# Accessing the non-public attribute directly (not recommended)
print(counter._private_count)  # It's still accessible, but not a best practice

In [ ]:
# Accessibility at functional level
# Module: module.py
def public_function():
    print("This is a public function.")

def _private_function():
    print("This is a non-public function.")

# The private function can still be accessed from outside the module, but by convention, it should not be
import my_module

my_module.public_function()  # Correct usage
my_module._private_function() # Possible, but goes against convention

### Avoid name mangling for stronger encapsulation

using '__' front of variable or function name

In [ ]:
"""In this code, __private_var and __private_method are name-mangled.
 Outside the class, they can't be accessed using obj.__private_var
  or obj.__private_method(). Instead, they are accessible with a mangled
   name like obj._MyClass__private_var and obj._MyClass__private_method(),
    although using them this way is not recommended as it breaks encapsulation."""

class MyClass:
    def __init__(self):
        self.__private_var = 42

    def __private_method(self):
        print("This is a private method")

    def public_method(self):
        self.__private_method()
        print("Public method can access private variables:", self.__private_var)

obj = MyClass()
obj.public_method()

# The following will fail - AttributeError
# print(obj.__private_var)
# obj.__private_method()

In [ ]:
class MyClass:
    def __init__(self):
        self.__private_method()

    def __private_method(self):
        print("This is a private method")

    def public_method(self):
        self.__private_method()

obj = MyClass()
obj.public_method()  # Works fine

# obj.__private_method()  # AttributeError: 'MyClass' object has no attribute '__private_method'

## Control Flow
- break statement
- continue statement
- if statement
- if else statement
- if elif else statement
- nested if else statement
- switch case statement
- for loop
- nested for loop
- for loop with else block
- while loop
- while loop with else block
- try except block
- try except finally block
- try except else finally block
- catching exceptions
- logging exception
- raising exception
- nested blocks

### break statement

In [ ]:
# Breaking out of a loop
n = 0
while True:
    print(n)
    n += 1
    if n > 2:
        break

# Output:
# 0
# 1
# 2

### continue statement

In [ ]:
# Skipping part of a loop
n = 0
while n < 5:
    n += 1
    if n == 3:
        continue
    print(n)

# Output:
# 1
# 2
# 4
# 5

### if statement

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")

# Output: x is greater than 5

### if else statement

In [ ]:
age = 18

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

# Output: You are an adult.

In [ ]:
username = "admin"
password = "secret"

if username == "admin" and password == "secret":
    print("Access granted")
else:
    print("Access denied")

# Output: Access granted

In [ ]:
age = 20
status = "Adult" if age >= 18 else "Minor"

print(status)

# Output: Adult

### if elif else statement

In [ ]:
score = 75

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'F'

print(f"Your grade is {grade}")

# Output: Your grade is C

### nested if else statement

In [ ]:
num = 15

if num > 10:
    if num % 2 == 0:
        print("Number is greater than 10 and even")
    else:
        print("Number is greater than 10 and odd")
else:
    print("Number is 10 or less")

# Output: Number is greater than 10 and odd

### switch case statement

In [ ]:
def basic_switch(x):
    match x:
        case 1:
            return "One"
        case 2:
            return "Two"
        case 3:
            return "Three"
        case _:
            return "Something else"

# Usage
print(basic_switch(1))  # Output: One
print(basic_switch(4))  # Output: Something else

In [ ]:
def match_with_types(value):
    match value:
        case int() as x if x > 0:
            return "Positive integer"
        case int() as x if x < 0:
            return "Negative integer"
        case float() as x if x > 0:
            return "Positive float"
        case float() as x if x < 0:
            return "Negative float"
        case _:
            return "Other"

# Usage
print(match_with_types(10))       # Output: Positive integer
print(match_with_types(-5))       # Output: Negative integer
print(match_with_types(3.14))     # Output: Positive float
print(match_with_types("Python")) # Output: Other

In [ ]:
def match_point(point):
    match point:
        case (0, 0):
            return "Origin"
        case (x, 0):
            return f"X-axis at x={x}"
        case (0, y):
            return f"Y-axis at y={y}"
        case (x, y):
            return f"Point at x={x}, y={y}"
        case _:
            return "Unknown"

# Usage
print(match_point((0, 0)))        # Output: Origin
print(match_point((5, 0)))        # Output: X-axis at x=5
print(match_point((0, 7)))        # Output: Y-axis at y=7
print(match_point((2, 3)))        # Output: Point at x=2, y=3

### for loop

In [ ]:
# Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Output:
# apple
# banana
# cherry

In [ ]:
# Iterating over each character in a string
for char in "Hello":
    print(char)

# Output:
# H
# e
# l
# l
# o

In [ ]:
# Iterating over a range of numbers
for i in range(5):
    print(i)

# Output:
# 0
# 1
# 2
# 3
# 4

In [ ]:
# Iterating over a dictionary
capitals = {"USA": "Washington", "France": "Paris", "India": "New Delhi"}
for country in capitals:
    print(f"The capital of {country} is {capitals[country]}")

# Output:
# The capital of USA is Washington
# The capital of France is Paris
# The capital of India is New Delhi

In [ ]:
# Using enumerate for index and value
colors = ["red", "green", "blue"]
for index, color in enumerate(colors):
    print(f"{index}: {color}")

# Output:
# 0: red
# 1: green
# 2: blue

In [ ]:
# For loop with list comprehension
squares = [x*x for x in range(10)]
print(squares)

# Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### nested for loops

In [ ]:
# Nested for loops
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

# Output:
# i: 0, j: 0
# i: 0, j: 1
# i: 1, j: 0
# i: 1, j: 1
# i: 2, j: 0
# i: 2, j: 1

### for loop with else block
- The else block is executed after the loop completes its iteration over the entire sequence,
 unless the loop is terminated prematurely with a break statement.

In [ ]:
my_list = [1, 2, 3, 4, 5]
search_item = 6

for item in my_list:
    if item == search_item:
        print(f"Found {search_item}")
        break
else:
    print(f"{search_item} not found in list")

In [ ]:
for i in range(5):
    if i == 3:
        print(f"Breaking at {i}")
        break
    print(f"Value: {i}")
else:
    print("Loop completed without break")

# Output:
# Value: 0
# Value: 1
# Value: 2
# Breaking at 3

In [ ]:
for i in range(3):
    print(f"Value: {i}")
else:
    print("Loop completed without break")

# Output:
# Value: 0
# Value: 1
# Value: 2
# Loop completed without break

### while loop

In [ ]:
# Counting up to 5
count = 1
while count <= 5:
    print(count)
    count += 1

# Output:
# 1
# 2
# 3
# 4
# 5

In [ ]:
# Breaking out of a loop
n = 0
while True:
    print(n)
    n += 1
    if n > 2:
        break

# Output:
# 0
# 1
# 2

In [ ]:
# Skipping part of a loop
n = 0
while n < 5:
    n += 1
    if n == 3:
        continue
    print(n)

# Output:
# 1
# 2
# 4
# 5

In [ ]:
# Processing items in a list
my_list = [1, 2, 3, 4, 5]
while my_list:
    print(my_list.pop(0))

# Output:
# 1
# 2
# 3
# 4
# 5

### while loop with else block
- The else block is executed when the loop condition becomes False.

In [ ]:
count = 0

while count < 3:
    print(f"Count is {count}")
    count += 1
else:
    print("Loop exited normally")

# Output:
# Count is 0
# Count is 1
# Count is 2
# Loop exited normally

In [ ]:
count = 0

while count < 5:
    print(f"Count is {count}")
    if count == 2:
        print("Breaking out of the loop")
        break
    count += 1
else:
    print("Loop exited normally")

# Output:
# Count is 0
# Count is 1
# Count is 2
# Breaking out of the loop

### try except block

In [ ]:
try:
    # Code that may raise an exception
    result = 10 / 0
except ZeroDivisionError:
    # Code to handle the exception
    print("Division by zero is not allowed.")

# Output: Division by zero is not allowed.

In [ ]:
try:
    # This will raise a ValueError
    number = int("not a number")
except ZeroDivisionError:
    print("Division by zero!")
except ValueError:
    print("Invalid input provided.")

# Output: Invalid input provided.

### try except finally block

In [ ]:
try:
    print("Trying to divide")
    result = 10 / 2
except ZeroDivisionError:
    print("Division by zero!")
else:
    print("Division successful!")
finally:
    print("This is executed no matter what.")

# Output:
# Trying to divide
# Division successful!
# This is executed no matter what.

### try except else finally block

In [ ]:
try:
    print("Trying to divide")
    result = 10 / 2
except ZeroDivisionError:
    print("Division by zero!")
else:
    print("Division successful!")
finally:
    print("This is executed no matter what.")

# Output:
# Trying to divide
# Division successful!
# This is executed no matter what.

In [ ]:
# Handling file operation
try:
    with open('file.txt', 'r') as file:
        data = file.read()
except FileNotFoundError:
    print("File not found.")
else:
    print("File read successfully.")
    # Process the data
finally:
    print("This block is executed no matter what.")

In [ ]:
# working with a database
import sqlite3

try:
    conn = sqlite3.connect('example.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM some_table")
    results = cursor.fetchall()
except sqlite3.DatabaseError as e:
    print(f"Database error: {e}")
else:
    print("Query executed successfully.")
    for row in results:
        print(row)
finally:
    conn.close()
    print("Connection closed.")

In [ ]:
# complex calculation with error handling
def divide(a, b):
    try:
        result = a / b
    except ZeroDivisionError:
        print("Division by zero is not allowed.")
    else:
        print(f"Result is {result}")
    finally:
        print("Operation completed.")

divide(10, 2)
divide(10, 0)

### catching exceptions

In [ ]:
try:
    # Some risky code
    undefined_variable
except Exception as e:
    print(f"An error occurred: {e}")

# Output: An error occurred: name 'undefined_variable' is not defined

### logging exceptions

In [ ]:
try:
    # Some risky code
    undefined_variable
except:       # when you log the exception you do not need to catch the exception, logging.exception will describe it
    logging.exception("An error occurred")

# But remember this log will only work for logging.exception not for logging.error

# Logged Output: NameError: An error occurred: name 'undefined_variable' is not defined

### raising exceptions

In [ ]:
try:
    age = -1
    if age < 0:
        raise ValueError("Age cannot be negative.")
except ValueError as error:
    print(error)

# Output: Age cannot be negative.

### nested blocks

In [ ]:
try:
    num = int(input("Enter a number: "))
    try:
        inverse = 1 / num
    except ZeroDivisionError:
        print("Cannot divide by zero.")
    else:
        print(f"Inverse: {inverse}")
except ValueError:
    print("That's not a valid number!")

In [ ]:
numbers = [1, 2, 0, "4", 5, -1, 7, "eight"]

for number in numbers:
    try:
        # Attempt conversion to integer, may raise ValueError
        num = int(number)

        if num < 0:
            print(f"Negative number {num} ignored.")
            continue  # Skip to the next iteration for negative numbers

        try:
            result = 10 / num
        except ZeroDivisionError:
            print("Division by zero encountered. Moving to next number.")
            continue  # Skip to the next iteration for zero division
        else:
            print(f"Result of 10/{num} is {result}")
    except ValueError as e:
        print(f"Invalid value '{number}' encountered: {e}. Skipping to next.")
    finally:
        print("This finally block executes after each iteration, regardless of exceptions.")

    # Break if the result equals 2.0 (10 divided by 5)
    if number == 5:
        print("Breaking the loop as 10 divided by 5 resulted in 2.0")
        break

## User input

In [ ]:
# Ask the user for their name
name = input("Enter your name: ")
print(f"Hello, {name}!")

# Ask the user for their age and convert it to an integer
age = input("Enter your age: ")
age = int(age)
print(f"You are {age} years old.")

In [ ]:
# Ask for the user's name
name = input("Enter your name: ")

# Ask for the user's age with error handling
while True:
    try:
        age = int(input("Enter your age: "))
        break  # Exit the loop if input is valid
    except ValueError:
        print("Please enter a valid number for your age.")

print(f"Hello, {name}. You are {age} years old.")

In [ ]:
while True:
    choice = input("Enter 'q' to quit or anything else to continue: ")
    if choice == 'q':
        break
    print("You chose to continue!")

print("Program exited.")

In [ ]:
# File: mymodule.py
def greet(name):
    return f"Hello, {name}! Welcome to the program."

# File: main.py
import mymodule

def main():
    name = input("Enter your name: ")
    greeting = mymodule.greet(name)
    print(greeting)

if __name__ == "__main__":
    main()

## Command line argument

In [ ]:
# File: example.py

import sys

def main():
    # Check if at least one argument is provided
    if len(sys.argv) > 1:
        name = sys.argv[1]  # Get the first argument passed to the script
        print(f"Hello, {name}! Welcome to the program.")
    else:
        print("No name provided. Usage: example.py <name>")

if __name__ == "__main__":
    main()

# Running the Script from the Command Line
# python example.py John
# Output:
# Hello, John! Welcome to the program.

# If you run the script without any arguments:
# python example.py
# Output:
# No name provided. Usage: example.py <name>